In [1]:
import pandas as pd
import pyarrow.parquet as pq

In [45]:
df = pd.read_json("niro3.json",orient='records',lines=True)
df = df.set_index(["Target", "MonthYear", "EventCode"])

In [49]:
df1 = pd.read_json("niroSource.txt",orient='records',lines=True)
df1 = df1.rename(columns= {"Source": "Target"})
df1 = df1.set_index(["Target", "MonthYear", "EventCode"])

merge = pd.concat([df,df1]).sort_index(level=[0,1,2])
merge

                             _c3    _c4
Target MonthYear EventCode
AFG    200302    18           47    290
                 19          255   1055
       200303    18           74    347
                 19          368   1922
       200304    18           46    323
                 18           63    329
                 19          544   3286
                 19          540   3145
       200309    18          102    401
                 19          549   2605
       200403    18          121    505
                 19          436   1841
       200404    18           29    162
                 18           66    341
                 19          293   1444
                 19          240   1245
                 20            1     18
       200409    18           66    340
                 19          299   1460
       200503    18           54    242
                 19          131    598
       200504    18           34    160
                 19          145    765
       200509    18           82    376
                 19          281   1457
       200603    18          157    580
                 19          711   2310
       200604    18          143    218
                 19          604   1233
       200605    18          168    368
...                          ...    ...
SYR    201210    18          953   8359
                 19         5480  74319
       201211    18          642   6201
                 19         3801  48555
                 20           27    194
       201212    18          623   6601
                 18          566   6879
                 19         2810  40317
                 19         3688  56342
                 20           21     81
       201301    18          436   3770
                 18          563   4239
                 19         2926  50445
                 19         3039  42694
                 20           48    314
       201306    18          517   3509
                 19         4021  32540
       201307    18          601   5373
                 19         3509  34089
                 20           18     91
       201308    20          141    715
       201310    19         3597  39783
       201311    18          507   5423
                 19         3565  38832
                 20           22     75
       201312    18          875   9593
                 18          993   9208
                 19         3186  32428
                 19         3225  33785
                 20           34    286

[648 rows x 2 columns]