In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

The 2 websites are using json files as document model to create the ranking and to have the information of the universities. So by analysing the all the networks request and responses through `firefox` browser network tools, we find the url that responses the json files.

In [3]:
tu_URL = 'https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508326775940'
th_URL = 'https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'
json_tu = requests.get(tu_URL).json()
  

json_th = requests.get(th_URL).json()

Let's concentrate on the first university rankingwebsite, namely `Top University`.

In [4]:
print(json_th.keys())

dict_keys(['data', 'subjects', 'locations', 'pillars'])

The `data` key contains a full description of each of the university of the ranking.

In [5]:
data_th = json_th['data']
data_th[:10]

[{'aliases': 'University of Oxford',
  'location': 'United Kingdom',
  'member_level': '0',
  'name': 'University of Oxford',
  'nid': 468,
  'rank': '1',
  'rank_order': '10',
  'record_type': 'master_account',
  'scores_citations': '99.1',
  'scores_citations_rank': '15',
  'scores_industry_income': '63.7',
  'scores_industry_income_rank': '169',
  'scores_international_outlook': '95.0',
  'scores_international_outlook_rank': '24',
  'scores_overall': '94.3',
  'scores_overall_rank': '10',
  'scores_research': '99.5',
  'scores_research_rank': '1',
  'scores_teaching': '86.7',
  'scores_teaching_rank': '5',
  'stats_female_male_ratio': '46 : 54',
  'stats_number_students': '20,409',
  'stats_pc_intl_students': '38%',
  'stats_student_staff_ratio': '11.2',
  'subjects_offered': 'Archaeology,Art, Performing Arts & Design,Biological Sciences,Business & Management,Chemical Engineering,Chemistry,Civil Engineering,Computer Science,Economics & Econometrics,Electrical & Electronic Engineering,General Engineering,Geography,Geology, Environmental, Earth & Marine Sciences,History, Philosophy & Theology,Languages, Literatures and Linguistics,Law,Mathematics & Statistics,Mechanical & Aerospace Engineering,Medicine & Dentistry,Physics & Astronomy,Psychology',
  'url': '/world-university-rankings/university-oxford'},
 {'aliases': 'University of Cambridge',
  'location': 'United Kingdom',
  'member_level': '0',
  'name': 'University of Cambridge',
  'nid': 470,
  'rank': '2',
  'rank_order': '20',
  'record_type': 'master_account',
  'scores_citations': '97.5',
  'scores_citations_rank': '29',
  'scores_industry_income': '51.5',
  'scores_industry_income_rank': '260',
  'scores_international_outlook': '93.0',
  'scores_international_outlook_rank': '35',
  'scores_overall': '93.2',
  'scores_overall_rank': '20',
  'scores_research': '97.8',
  'scores_research_rank': '3',
  'scores_teaching': '87.8',
  'scores_teaching_rank': '3',
  'stats_female_male_ratio': '45 : 55',
  'stats_number_students': '18,389',
  'stats_pc_intl_students': '35%',
  'stats_student_staff_ratio': '10.9',
  'subjects_offered': 'Archaeology,Architecture,Art, Performing Arts & Design,Biological Sciences,Business & Management,Chemical Engineering,Civil Engineering,Computer Science,Economics & Econometrics,Education,Electrical & Electronic Engineering,General Engineering,Geography,History, Philosophy & Theology,Languages, Literatures and Linguistics,Law,Mathematics & Statistics,Mechanical & Aerospace Engineering,Medicine & Dentistry,Politics & International Studies (incl Development Studies),Psychology,Sociology,Veterinary Science,Physics & Astronomy',
  'url': '/world-university-rankings/university-cambridge'},
 {'aliases': 'California Institute of Technology caltech',
  'location': 'United States',
  'member_level': '0',
  'name': 'California Institute of Technology',
  'nid': 128779,
  'rank': '=3',
  'rank_order': '30',
  'record_type': 'private',
  'scores_citations': '99.5',
  'scores_citations_rank': '10',
  'scores_industry_income': '92.6',
  'scores_industry_income_rank': '51',
  'scores_international_outlook': '59.7',
  'scores_international_outlook_rank': '322',
  'scores_overall': '93.0',
  'scores_overall_rank': '30',
  'scores_research': '97.5',
  'scores_research_rank': '4',
  'scores_teaching': '90.3',
  'scores_teaching_rank': '1',
  'stats_female_male_ratio': '31 : 69',
  'stats_number_students': '2,209',
  'stats_pc_intl_students': '27%',
  'stats_student_staff_ratio': '6.5',
  'subjects_offered': 'Architecture,Biological Sciences,Business & Management,Chemical Engineering,Chemistry,Computer Science,Economics & Econometrics,Electrical & Electronic Engineering,General Engineering,Geology, Environmental, Earth & Marine Sciences,History, Philosophy & Theology,Languages, Literatures and Linguistics,Mathematics & Statistics,Mechanical & Aerospace Engineering,Other Health,Physics & Astronomy,Politics & International Studies (incl Development Studies)',
  'url': '/world-university-rankings/california-institute-technology'},
 {'aliases': 'Stanford University',
  'location': 'United States',
  'member_level': '11',
  'name': 'Stanford University',
  'nid': 467,
  'rank': '=3',
  'rank_order': '40',
  'record_type': 'private',
  'scores_citations': '99.9',
  'scores_citations_rank': '4',
  'scores_industry_income': '60.5',
  'scores_industry_income_rank': '189',
  'scores_international_outlook': '77.6',
  'scores_international_outlook_rank': '162',
  'scores_overall': '93.0',
  'scores_overall_rank': '40',
  'scores_research': '96.7',
  'scores_research_rank': '5',
  'scores_teaching': '89.1',
  'scores_teaching_rank': '2',
  'stats_female_male_ratio': '42 : 58',
  'stats_number_students': '15,845',
  'stats_pc_intl_students': '22%',
  'stats_student_staff_ratio': '7.5',
  'subjects_offered': 'Archaeology,Architecture,Art, Performing Arts & Design,Biological Sciences,Chemical Engineering,Chemistry,Civil Engineering,Communication & Media Studies,Computer Science,Economics & Econometrics,Electrical & Electronic Engineering,General Engineering,Geography,Geology, Environmental, Earth & Marine Sciences,History, Philosophy & Theology,Languages, Literatures and Linguistics,Law,Mathematics & Statistics,Mechanical & Aerospace Engineering,Physics & Astronomy,Politics & International Studies (incl Development Studies),Psychology,Sociology',
  'url': '/world-university-rankings/stanford-university'},
 {'aliases': 'Massachusetts Institute of Technology',
  'location': 'United States',
  'member_level': '0',
  'name': 'Massachusetts Institute of Technology',
  'nid': 471,
  'rank': '5',
  'rank_order': '50',
  'record_type': 'private',
  'scores_citations': '100.0',
  'scores_citations_rank': '1',
  'scores_industry_income': '88.4',
  'scores_industry_income_rank': '63',
  'scores_international_outlook': '87.6',
  'scores_international_outlook_rank': '81',
  'scores_overall': '92.5',
  'scores_overall_rank': '50',
  'scores_research': '91.9',
  'scores_research_rank': '9',
  'scores_teaching': '87.3',
  'scores_teaching_rank': '4',
  'stats_female_male_ratio': '37 : 63',
  'stats_number_students': '11,177',
  'stats_pc_intl_students': '34%',
  'stats_student_staff_ratio': '8.7',
  'subjects_offered': 'Architecture,Art, Performing Arts & Design,Biological Sciences,Business & Management,Chemical Engineering,Chemistry,Civil Engineering,Communication & Media Studies,Computer Science,Economics & Econometrics,Electrical & Electronic Engineering,General Engineering,Geology, Environmental, Earth & Marine Sciences,History, Philosophy & Theology,Languages, Literatures and Linguistics,Mathematics & Statistics,Mechanical & Aerospace Engineering,Other Health,Physics & Astronomy,Politics & International Studies (incl Development Studies),Psychology,Sociology',
  'url': '/world-university-rankings/massachusetts-institute-technology'},
 {'aliases': 'Harvard University',
  'location': 'United States',
  'member_level': '0',
  'name': 'Harvard University',
  'nid': 466,
  'rank': '6',
  'rank_order': '60',
  'record_type': 'private',
  'scores_citations': '99.7',
  'scores_citations_rank': '8',
  'scores_industry_income': '46.4',
  'scores_industry_income_rank': '330',
  'scores_international_outlook': '79.7',
  'scores_international_outlook_rank': '143',
  'scores_overall': '91.8',
  'scores_overall_rank': '60',
  'scores_research': '98.4',
  'scores_research_rank': '2',
  'scores_teaching': '84.2',
  'scores_teaching_rank': '9',
  'stats_female_male_ratio': None,
  'stats_number_students': '20,326',
  'stats_pc_intl_students': '26%',
  'stats_student_staff_ratio': '8.9',
  'subjects_offered': 'Agriculture & Forestry,Archaeology,Art, Performing Arts & Design,Biological Sciences,Chemical Engineering,Chemistry,Computer Science,Economics & Econometrics,Electrical & Electronic Engineering,General Engineering,Geography,Geology, Environmental, Earth & Marine Sciences,History, Philosophy & Theology,Languages, Literatures and Linguistics,Law,Mathematics & Statistics,Mechanical & Aerospace Engineering,Other Health,Physics & Astronomy,Politics & International Studies (incl Development Studies),Psychology,Sociology',
  'url': '/world-university-rankings/harvard-university'},
 {'aliases': 'Princeton University',
  'location': 'United States',
  'member_level': '0',
  'name': 'Princeton University',
  'nid': 469,
  'rank': '7',
  'rank_order': '70',
  'record_type': 'private',
  'scores_citations': '99.6',
  'scores_citations_rank': '9',
  'scores_industry_income': '58.0',
  'scores_industry_income_rank': '204',
  'scores_international_outlook': '78.7',
  'scores_international_outlook_rank': '152',
  'scores_overall': '91.1',
  'scores_overall_rank': '70',
  'scores_research': '93.9',
  'scores_research_rank': '6',
  'scores_teaching': '85.7',
  'scores_teaching_rank': '7',
  'stats_female_male_ratio': '45 : 55',
  'stats_number_students': '7,955',
  'stats_pc_intl_students': '24%',
  'stats_student_staff_ratio': '8.3',
  'subjects_offered': 'Architecture,Art, Performing Arts & Design,Biological Sciences,Chemical Engineering,Chemistry,Civil Engineering,Computer Science,Economics & Econometrics,Electrical & Electronic Engineering,General Engineering,Geology, Environmental, Earth & Marine Sciences,History, Philosophy & Theology,Languages, Literatures and Linguistics,Mathematics & Statistics,Mechanical & Aerospace Engineering,Physics & Astronomy,Politics & International Studies (incl Development Studies),Psychology,Sociology',
  'url': '/world-university-rankings/princeton-university'},
 {'aliases': 'Imperial College London',
  'location': 'United Kingdom',
  'member_level': '0',
  'name': 'Imperial College London',
  'nid': 472,
  'rank': '8',
  'rank_order': '80',
  'record_type': 'master_account',
  'scores_citations': '96.7',
  'scores_citations_rank': '40',
  'scores_industry_income': '71.6',
  'scores_industry_income_rank': '120',
  'scores_international_outlook': '96.6',
  'scores_international_outlook_rank': '13',
  'scores_overall': '89.2',
  'scores_overall_rank': '80',
  'scores_research': '88.7',
  'scores_research_rank': '12',
  'scores_teaching': '81.7',
  'scores_teaching_rank': '13',
  'stats_female_male_ratio': '37 : 63',
  'stats_number_students': '15,857',
  'stats_pc_intl_students': '55%',
  'stats_student_staff_ratio': '11.4',
  'subjects_offered': 'Biological Sciences,Chemical Engineering,Chemistry,Civil Engineering,Computer Science,Education,Electrical & Electronic Engineering,General Engineering,Geology, Environmental, Earth & Marine Sciences,Mathematics & Statistics,Mechanical & Aerospace Engineering,Medicine & Dentistry,Physics & Astronomy',
  'url': '/world-university-rankings/imperial-college-london'},
 {'aliases': 'University of Chicago',
  'location': 'United States',
  'member_level': '0',
  'name': 'University of Chicago',
  'nid': 473,
  'rank': '9',
  'rank_order': '90',
  'record_type': 'private',
  'scores_citations': '99.4',
  'scores_citations_rank': '12',
  'scores_industry_income': '39.8',
  'scores_industry_income_rank': '487',
  'scores_international_outlook': '69.6',
  'scores_international_outlook_rank': '231',
  'scores_overall': '88.6',
  'scores_overall_rank': '90',
  'scores_research': '90.1',
  'scores_research_rank': '10',
  'scores_teaching': '85.3',
  'scores_teaching_rank': '8',
  'stats_female_male_ratio': '44 : 56',
  'stats_number_students': '13,525',
  'stats_pc_intl_students': '25%',
  'stats_student_staff_ratio': '6.2',
  'subjects_offered': 'Archaeology,Art, Performing Arts & Design,Biological Sciences,Chemistry,Computer Science,Economics & Econometrics,Geography,Geology, Environmental, Earth & Marine Sciences,History, Philosophy & Theology,Languages, Literatures and Linguistics,Mathematics & Statistics,Physics & Astronomy,Politics & International Studies (incl Development Studies),Psychology,Sociology',
  'url': '/world-university-rankings/university-chicago'},
 {'aliases': 'ETH Zurich – Swiss Federal Institute of Technology Zurich',
  'location': 'Switzerland',
  'member_level': '0',
  'name': 'ETH Zurich – Swiss Federal Institute of Technology Zurich',
  'nid': 479,
  'rank': '=10',
  'rank_order': '100',
  'record_type': 'master_account',
  'scores_citations': '94.3',
  'scores_citations_rank': '60',
  'scores_industry_income': '60.3',
  'scores_industry_income_rank': '190',
  'scores_international_outlook': '98.1',
  'scores_international_outlook_rank': '8',
  'scores_overall': '87.7',
  'scores_overall_rank': '100',
  'scores_research': '92.0',
  'scores_research_rank': '8',
  'scores_teaching': '76.4',
  'scores_teaching_rank': '21',
  'stats_female_male_ratio': '31 : 69',
  'stats_number_students': '19,233',
  'stats_pc_intl_students': '38%',
  'stats_student_staff_ratio': '14.6',
  'subjects_offered': 'Agriculture & Forestry,Architecture,Biological Sciences,Chemistry,Civil Engineering,Computer Science,Economics & Econometrics,Electrical & Electronic Engineering,General Engineering,Geology, Environmental, Earth & Marine Sciences,Mathematics & Statistics,Mechanical & Aerospace Engineering,Other Health,Physics & Astronomy,Politics & International Studies (incl Development Studies),Chemical Engineering,Medicine & Dentistry,Business & Management,Accounting & Finance',
  'url': '/world-university-rankings/eth-zurich-swiss-federal-institute-technology-zurich'}]

In [6]:
data_tu = json_tu['data']
data_tu[:10]

[{'cc': 'US',
  'core_id': '410',
  'country': 'United States',
  'guide': '<a href="/where-to-study/north-america/united-states/guide" class="guide-link" target="_blank">United States</a>',
  'logo': '<img src="https://www.topuniversities.com/sites/default/files/massachusetts-institute-of-technology-mit_410_small_0.jpg" alt="Massachusetts Institute of Technology (MIT)  Logo">',
  'nid': '294850',
  'rank_display': '1',
  'region': 'North America',
  'score': '100',
  'stars': '6',
  'title': 'Massachusetts Institute of Technology (MIT)',
  'url': '/universities/massachusetts-institute-technology-mit'},
 {'cc': 'US',
  'core_id': '573',
  'country': 'United States',
  'guide': '<a href="/where-to-study/north-america/united-states/guide" class="guide-link" target="_blank">United States</a>',
  'logo': '<img src="https://www.topuniversities.com/sites/default/files/stanford-university_573_small_0.jpg" alt="Stanford University Logo">',
  'nid': '297282',
  'rank_display': '2',
  'region': 'North America',
  'score': '98.7',
  'stars': '5',
  'title': 'Stanford University',
  'url': '/universities/stanford-university'},
 {'cc': 'US',
  'core_id': '253',
  'country': 'United States',
  'guide': '<a href="/where-to-study/north-america/united-states/guide" class="guide-link" target="_blank">United States</a>',
  'logo': '<img src="https://www.topuniversities.com/sites/default/files/harvard-university_253_small_0.jpg" alt="Harvard University Logo">',
  'nid': '294270',
  'rank_display': '3',
  'region': 'North America',
  'score': '98.4',
  'stars': '5',
  'title': 'Harvard University',
  'url': '/universities/harvard-university'},
 {'cc': 'US',
  'core_id': '94',
  'country': 'United States',
  'guide': '<a href="/where-to-study/north-america/united-states/guide" class="guide-link" target="_blank">United States</a>',
  'logo': '<img src="https://www.topuniversities.com/sites/default/files/california-institute-of-technology-caltech_94_small_1.jpg" alt="California Institute of Technology (Caltech) Logo">',
  'nid': '294562',
  'rank_display': '4',
  'region': 'North America',
  'score': '97.7',
  'stars': '5',
  'title': 'California Institute of Technology (Caltech)',
  'url': '/universities/california-institute-technology-caltech'},
 {'cc': 'GB',
  'core_id': '95',
  'country': 'United Kingdom',
  'guide': '<a href="/where-to-study/europe/united-kingdom/guide" class="guide-link" target="_blank">United Kingdom</a>',
  'logo': '<img src="https://www.topuniversities.com/sites/default/files/university-of-cambridge_95_small_1.jpg" alt="University of Cambridge Logo">',
  'nid': '294561',
  'rank_display': '5',
  'region': 'Europe',
  'score': '95.6',
  'stars': '5',
  'title': 'University of Cambridge',
  'url': '/universities/university-cambridge'},
 {'cc': 'GB',
  'core_id': '478',
  'country': 'United Kingdom',
  'guide': '<a href="/where-to-study/europe/united-kingdom/guide" class="guide-link" target="_blank">United Kingdom</a>',
  'logo': '<img src="https://www.topuniversities.com/sites/default/files/university-of-oxford_478_small_0.jpg" alt="University of Oxford Logo">',
  'nid': '294654',
  'rank_display': '6',
  'region': 'Europe',
  'score': '95.3',
  'stars': '5',
  'title': 'University of Oxford',
  'url': '/universities/university-oxford'},
 {'cc': 'GB',
  'core_id': '365',
  'country': 'United Kingdom',
  'guide': '<a href="/where-to-study/europe/united-kingdom/guide" class="guide-link" target="_blank">United Kingdom</a>',
  'logo': '<img src="https://www.topuniversities.com/sites/default/files/ucl-university-college-london_365_small_0.jpg" alt="UCL (University College London) Logo">',
  'nid': '294014',
  'rank_display': '7',
  'region': 'Europe',
  'score': '94.6',
  'stars': None,
  'title': 'UCL (University College London)',
  'url': '/universities/ucl-university-college-london'},
 {'cc': 'GB',
  'core_id': '356',
  'country': 'United Kingdom',
  'guide': '<a href="/where-to-study/europe/united-kingdom/guide" class="guide-link" target="_blank">United Kingdom</a>',
  'logo': '<img src="https://www.topuniversities.com/sites/default/files/imperial-college-london_356_small.jpg" alt="Imperial College London Logo">',
  'nid': '294030',
  'rank_display': '8',
  'region': 'Europe',
  'score': '93.7',
  'stars': None,
  'title': 'Imperial College London',
  'url': '/universities/imperial-college-london'},
 {'cc': 'US',
  'core_id': '120',
  'country': 'United States',
  'guide': '<a href="/where-to-study/north-america/united-states/guide" class="guide-link" target="_blank">United States</a>',
  'logo': '<img src="https://www.topuniversities.com/sites/default/files/university-of-chicago_120_small_0.jpg" alt="University of Chicago Logo">',
  'nid': '294536',
  'rank_display': '9',
  'region': 'North America',
  'score': '93.5',
  'stars': '5',
  'title': 'University of Chicago',
  'url': '/universities/university-chicago'},
 {'cc': 'CH',
  'core_id': '201',
  'country': 'Switzerland',
  'guide': '<a href="/where-to-study/europe/switzerland/guide" class="guide-link" target="_blank">Switzerland</a>',
  'logo': '<img src="https://www.topuniversities.com/sites/default/files/eth-zurich-swiss-federal-institute-of-technology_201_small_0.jpg" alt="ETH Zurich - Swiss Federal Institute of Technology Logo">',
  'nid': '294432',
  'rank_display': '10',
  'region': 'Europe',
  'score': '93.3',
  'stars': None,
  'title': 'ETH Zurich - Swiss Federal Institute of Technology',
  'url': '/universities/eth-zurich-swiss-federal-institute-technology'}]

Using those values, we will be able to extract the information demanded by the assignement: *name*, *rank*, *country* and *region* of the top 200 universities.

Note that the information about *number of faculty members* and *number of students* for each university is missing in the data. We treat this challenge separatly after.

In [7]:

# We limit ourself to the top 200 univerities as ask in the assignment.
top200_data = data_tu[:200]
tu_dict = [{'Name': u['title'], 'rank': u['rank_display'], 'country': u['country'], 'region': u['region']} for u in top200_data]

In order to get the additional information described above, we need to traverse the url of each of the top 200 universities. This step takes a large amoungt of time (compared to other process that we do, ~1min). Lukily, this step is done once.

In [8]:
from datetime import datetime

unis_url = [{'name': u['title'], 'url': u['url']} for u in top200_data]
dictlist = []
base_url = "https://www.topuniversities.com"

# as numbers are of type string, this method is used to convert into int.
def nice_format(number):
    return int(number.strip('\n').replace(',',''))

start_time = datetime.now()


for url in unis_url[:200]:
    #print(url['name'])
    r = requests.get(base_url+url['url'])
    body = r.text
    soup = BeautifulSoup(body, 'html.parser')
    number = soup.find_all('div', class_='number')
    if len(number) is not 0:
        dictlist.append({'Name': url['name'], 'Total faculty members': nice_format(number[0].text), 'International faculty members'
                        : nice_format(number[1].text), 'Total number of students': nice_format(number[2].text), 'Total number of international students'
                        : nice_format(number[3].text)})
        
stop_time = datetime.now()

excetution_time = stop_time - start_time

print(' Time of the extraction of the extra information : {e}'.format(e=excetution_time))

 Time of the extraction of the extra information : 0:01:08.411917

Now we have the information needed and the following step consist on merging them. We use Dataframes to merge.

In [9]:
tu = pd.DataFrame(tu_dict)
tu

,Name,country,rank,region
0,Massachusetts Institute of Technology (MIT),United States,1,North America
1,Stanford University,United States,2,North America
2,Harvard University,United States,3,North America
3,California Institute of Technology (Caltech),United States,4,North America
4,University of Cambridge,United Kingdom,5,Europe
5,University of Oxford,United Kingdom,6,Europe
6,UCL (University College London),United Kingdom,7,Europe
7,Imperial College London,United Kingdom,8,Europe
8,University of Chicago,United States,9,North America
9,ETH Zurich - Swiss Federal Institute of Techno...,Switzerland,10,Europe
10,"Nanyang Technological University, Singapore (NTU)",Singapore,11,Asia
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),Switzerland,12,Europe
12,Princeton University,United States,13,North America
13,Cornell University,United States,14,North America
14,National University of Singapore (NUS),Singapore,15,Asia
15,Yale University,United States,16,North America
16,Johns Hopkins University,United States,17,North America
17,Columbia University,United States,18,North America
18,University of Pennsylvania,United States,19,North America
19,The Australian National University,Australia,20,Oceania
20,University of Michigan,United States,=21,North America
21,Duke University,United States,=21,North America
22,The University of Edinburgh,United Kingdom,=23,Europe
23,King's College London,United Kingdom,=23,Europe
24,Tsinghua University,China,25,Asia
25,The University of Hong Kong,Hong Kong,26,Asia
26,"University of California, Berkeley (UCB)",United States,27,North America
27,The University of Tokyo,Japan,=28,Asia
28,Northwestern University,United States,=28,North America
29,The Hong Kong University of Science and Techno...,Hong Kong,30,Asia
...,...,...,...,...
170,Albert-Ludwigs-Universitaet Freiburg,Germany,171,Europe
171,Indian Institute of Technology Delhi (IITD),India,172,Asia
172,King Fahd University of Petroleum & Minerals,Saudi Arabia,=173,Asia
173,University of Liverpool,United Kingdom,=173,Europe
174,University of Virginia,United States,=173,North America
175,University of Technology Sydney,Australia,176,Oceania
176,CentraleSupélec,France,177,Europe
177,University of Florida,United States,178,North America
178,Indian Institute of Technology Bombay (IITB),India,=179,Asia
179,University of Twente,Netherlands,=179,Europe
180,University of Göttingen,Germany,181,Europe
181,Vrije Universiteit Brussel (VUB),Belgium,=182,Europe
182,Universidade Estadual de Campinas (Unicamp),Brazil,=182,Latin America
183,University of Colorado Boulder,United States,=182,North America
184,Vienna University of Technology,Austria,=182,Europe
185,University of Rochester,United States,186,North America
186,Universidad Autónoma de Madrid,Spain,187,Europe
187,Alma Mater Studiorum - University of Bologna,Italy,=188,Europe
188,University of Reading,United Kingdom,=188,Europe
189,Indian Institute of Science (IISc) Bangalore,India,190,Asia
190,University of Cape Town,South Africa,191,Africa
191,Scuola Normale Superiore di Pisa,Italy,=192,Europe
192,Scuola Superiore Sant'Anna Pisa di Studi Unive...,Italy,=192,Europe
193,Keio University CEMS MIM,Japan,=192,Asia
194,Stockholm University,Sweden,=195,Europe
195,Universitat Autònoma de Barcelona,Spain,=195,Europe
196,Texas A&M University,United States,=195,North America
197,Instituto Tecnológico y de Estudios Superiores...,Mexico,199,Latin America
198,Maastricht University,Netherlands,200,Europe
199,Universidad de Chile,Chile,201,Latin America

In [10]:
tu_add_info = pd.DataFrame(dictlist)
tu_add_info['Website'] = 'Top Universities'

tu = tu.merge(tu_add_info, how='outer', on='Name')
tu

,Name,country,rank,region,International faculty members,Total faculty members,Total number of international students,Total number of students,Website
0,Massachusetts Institute of Technology (MIT),United States,1,North America,1679.0,2982.0,3717.0,11067.0,Top Universities
1,Stanford University,United States,2,North America,2042.0,4285.0,3611.0,15878.0,Top Universities
2,Harvard University,United States,3,North America,1311.0,4350.0,5266.0,22429.0,Top Universities
3,California Institute of Technology (Caltech),United States,4,North America,350.0,953.0,647.0,2255.0,Top Universities
4,University of Cambridge,United Kingdom,5,Europe,2278.0,5490.0,6699.0,18770.0,Top Universities
5,University of Oxford,United Kingdom,6,Europe,2964.0,6750.0,7353.0,19720.0,Top Universities
6,UCL (University College London),United Kingdom,7,Europe,2554.0,6345.0,14854.0,31080.0,Top Universities
7,Imperial College London,United Kingdom,8,Europe,2071.0,3930.0,8746.0,16090.0,Top Universities
8,University of Chicago,United States,9,North America,635.0,2449.0,3379.0,13557.0,Top Universities
9,ETH Zurich - Swiss Federal Institute of Techno...,Switzerland,10,Europe,1886.0,2477.0,7563.0,19815.0,Top Universities
10,"Nanyang Technological University, Singapore (NTU)",Singapore,11,Asia,2993.0,4338.0,7251.0,25738.0,Top Universities
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),Switzerland,12,Europe,1300.0,1695.0,5896.0,10343.0,Top Universities
12,Princeton University,United States,13,North America,246.0,1007.0,1793.0,8069.0,Top Universities
13,Cornell University,United States,14,North America,970.0,2718.0,5411.0,21904.0,Top Universities
14,National University of Singapore (NUS),Singapore,15,Asia,3086.0,5106.0,8917.0,32728.0,Top Universities
15,Yale University,United States,16,North America,1708.0,4940.0,2469.0,12402.0,Top Universities
16,Johns Hopkins University,United States,17,North America,1061.0,4462.0,4105.0,16146.0,Top Universities
17,Columbia University,United States,18,North America,913.0,6189.0,8105.0,25045.0,Top Universities
18,University of Pennsylvania,United States,19,North America,1383.0,5499.0,4250.0,20639.0,Top Universities
19,The Australian National University,Australia,20,Oceania,927.0,1600.0,5551.0,14442.0,Top Universities
20,University of Michigan,United States,=21,North America,1920.0,6809.0,7527.0,43147.0,Top Universities
21,Duke University,United States,=21,North America,226.0,2938.0,2864.0,15320.0,Top Universities
22,The University of Edinburgh,United Kingdom,=23,Europe,1553.0,4075.0,10551.0,28040.0,Top Universities
23,King's College London,United Kingdom,=23,Europe,1513.0,3650.0,9451.0,23780.0,Top Universities
24,Tsinghua University,China,25,Asia,932.0,5506.0,4072.0,36300.0,Top Universities
25,The University of Hong Kong,Hong Kong,26,Asia,2085.0,3012.0,8230.0,20214.0,Top Universities
26,"University of California, Berkeley (UCB)",United States,27,North America,1395.0,3321.0,6086.0,36703.0,Top Universities
27,The University of Tokyo,Japan,=28,Asia,254.0,4514.0,2639.0,27279.0,Top Universities
28,Northwestern University,United States,=28,North America,1141.0,4231.0,3422.0,18675.0,Top Universities
29,The Hong Kong University of Science and Techno...,Hong Kong,30,Asia,835.0,1150.0,2921.0,10375.0,Top Universities
...,...,...,...,...,...,...,...,...,...
170,Albert-Ludwigs-Universitaet Freiburg,Germany,171,Europe,413.0,1966.0,3897.0,23214.0,Top Universities
171,Indian Institute of Technology Delhi (IITD),India,172,Asia,4.0,466.0,80.0,7477.0,Top Universities
172,King Fahd University of Petroleum & Minerals,Saudi Arabia,=173,Asia,665.0,1062.0,989.0,6040.0,Top Universities
173,University of Liverpool,United Kingdom,=173,Europe,717.0,2390.0,7502.0,22065.0,Top Universities
174,University of Virginia,United States,=173,North America,487.0,2509.0,1899.0,21560.0,Top Universities
175,University of Technology Sydney,Australia,176,Oceania,546.0,1328.0,7769.0,24207.0,Top Universities
176,CentraleSupélec,France,177,Europe,137.0,529.0,1132.0,3877.0,Top Universities
177,University of Florida,United States,178,North America,504.0,5419.0,4597.0,45485.0,Top Universities
178,Indian Institute of Technology Bombay (IITB),India,=179,Asia,19.0,876.0,93.0,9402.0,Top Universities
179,University of Twente,Netherlands,=179,Europe,299.0,910.0,2235.0,9332.0,Top Universities
180,University of Göttingen,Germany,181,Europe,641.0,3678.0,3736.0,30402.0,Top Universities
181,Vrije Universiteit Brussel (VUB),Belgium,=182,Europe,515.0,1792.0,1853.0,9284.0,Top Universities
182,Universidade Estadual de Campinas (Unicamp),Brazil,=182,Latin America,109.0,1968.0,966.0,26572.0,Top Universities
183,University of Colorado Boulder,United States,=182,North America,566.0,3685.0,2679.0,30219.0,Top Universities
184,Vienna University of Technology,Austria,=182,Europe,172.0,706.0,5199.0,17479.0,Top Universities
185,University of Rochester,United States,186,North America,488.0,2569.0,2805.0,9636.0,Top Universities
186,Universidad Autónoma de Madrid,Spain,187,Europe,181.0,2738.0,2976.0,26511.0,Top Universities
187,Alma Mater Studiorum - University of Bologna,Italy,=188,Europe,153.0,2990.0,4195.0,63399.0,Top Universities
188,University of Reading,United Kingdom,=188,Europe,422.0,1280.0,4077.0,13330.0,Top Universities
189,Indian Institute of Science (IISc) Bangalore,India,190,Asia,4071.0,423.0,423.0,47.0,Top Universities
190,University of Cape Town,South Africa,191,Africa,379.0,1733.0,3325.0,19593.0,Top Universities
191,Scuola Normale Superiore di Pisa,Italy,=192,Europe,1.0,86.0,48.0,532.0,Top Universities
192,Scuola Superiore Sant'Anna Pisa di Studi Unive...,Italy,=192,Europe,1.0,119.0,135.0,789.0,Top Universities
193,Keio University CEMS MIM,Japan,=192,Asia,261.0,3905.0,2178.0,33500.0,Top Universities
194,Stockholm University,Sweden,=195,Europe,646.0,2154.0,2636.0,28281.0,Top Universities
195,Universitat Autònoma de Barcelona,Spain,=195,Europe,230.0,2187.0,3848.0,31986.0,Top Universities
196,Texas A&M University,United States,=195,North America,206.0,3446.0,4900.0,60294.0,Top Universities
197,Instituto Tecnológico y de Estudios Superiores...,Mexico,199,Latin America,821.0,1822.0,1412.0,13376.0,Top Universities
198,Maastricht University,Netherlands,200,Europe,502.0,1277.0,8234.0,16385.0,Top Universities
199,Universidad de Chile,Chile,201,Latin America,127.0,2256.0,2134.0,38848.0,Top Universities

The Top university Dataframe table is ready. We wil do the same with Time Higher Education.

In [11]:
#th_dict = [{'name': u['name'], 'rank': u['rank'], 'country' : u['location']} for u in data_th[:200]]
th_dict = []
for u in data_th[:200]:
    
    total_stu = float(u['stats_number_students'].replace(',', ''))
    inter_percent = float(u['stats_pc_intl_students'].strip('%'))
    student_staff_ratio = float(u['stats_student_staff_ratio'])
    
    th_dict.append(
        {'Name': u['name'],
         'rank': u['rank'], 
         'country' : u['location'],
         'Total number of students': int(total_stu), 
         'Total number of international students': int((total_stu / 100) * inter_percent),
         'Total faculty members': int(total_stu / student_staff_ratio),
         'Ratio faculty/students': 1 / student_staff_ratio,
         'Ratio international students': inter_percent / 100,
        }
    )
th = pd.DataFrame(th_dict)
th['Website'] = "Times Higher Education"
th['International faculty members'] = 'Unknown'
th

,Name,Ratio faculty/students,Ratio international students,Total faculty members,Total number of international students,Total number of students,country,rank,Website,International faculty members
0,University of Oxford,0.089286,0.38,1822,7755,20409,United Kingdom,1,Times Higher Education,Unknown
1,University of Cambridge,0.091743,0.35,1687,6436,18389,United Kingdom,2,Times Higher Education,Unknown
2,California Institute of Technology,0.153846,0.27,339,596,2209,United States,=3,Times Higher Education,Unknown
3,Stanford University,0.133333,0.22,2112,3485,15845,United States,=3,Times Higher Education,Unknown
4,Massachusetts Institute of Technology,0.114943,0.34,1284,3800,11177,United States,5,Times Higher Education,Unknown
5,Harvard University,0.112360,0.26,2283,5284,20326,United States,6,Times Higher Education,Unknown
6,Princeton University,0.120482,0.24,958,1909,7955,United States,7,Times Higher Education,Unknown
7,Imperial College London,0.087719,0.55,1390,8721,15857,United Kingdom,8,Times Higher Education,Unknown
8,University of Chicago,0.161290,0.25,2181,3381,13525,United States,9,Times Higher Education,Unknown
9,ETH Zurich – Swiss Federal Institute of Techno...,0.068493,0.38,1317,7308,19233,Switzerland,=10,Times Higher Education,Unknown
10,University of Pennsylvania,0.153846,0.20,3132,4072,20361,United States,=10,Times Higher Education,Unknown
11,Yale University,0.232558,0.21,2826,2552,12155,United States,12,Times Higher Education,Unknown
12,Johns Hopkins University,0.232558,0.24,3604,3719,15498,United States,13,Times Higher Education,Unknown
13,Columbia University,0.163934,0.32,4358,8507,26587,United States,14,Times Higher Education,Unknown
14,"University of California, Los Angeles",0.104167,0.17,4091,6677,39279,United States,15,Times Higher Education,Unknown
15,University College London,0.095238,0.49,2886,14848,30304,United Kingdom,16,Times Higher Education,Unknown
16,Duke University,0.222222,0.22,3390,3356,15256,United States,17,Times Higher Education,Unknown
17,"University of California, Berkeley",0.076336,0.17,2761,6150,36182,United States,18,Times Higher Education,Unknown
18,Cornell University,0.102041,0.24,2229,5244,21850,United States,19,Times Higher Education,Unknown
19,Northwestern University,0.078125,0.18,1364,3143,17466,United States,20,Times Higher Education,Unknown
20,University of Michigan,0.116279,0.16,4862,6690,41818,United States,21,Times Higher Education,Unknown
21,National University of Singapore,0.058824,0.30,1800,9180,30602,Singapore,=22,Times Higher Education,Unknown
22,University of Toronto,0.053476,0.17,3712,11802,69427,Canada,=22,Times Higher Education,Unknown
23,Carnegie Mellon University,0.074074,0.45,938,5704,12676,United States,24,Times Higher Education,Unknown
24,London School of Economics and Political Science,0.081967,0.71,825,7146,10065,United Kingdom,=25,Times Higher Education,Unknown
25,University of Washington,0.087719,0.16,3942,7191,44945,United States,=25,Times Higher Education,Unknown
26,University of Edinburgh,0.080000,0.40,2140,10703,26759,United Kingdom,=27,Times Higher Education,Unknown
27,New York University,0.104167,0.26,4568,11403,43860,United States,=27,Times Higher Education,Unknown
28,Peking University,0.112360,0.16,4734,6741,42136,China,=27,Times Higher Education,Unknown
29,Tsinghua University,0.072993,0.09,3072,3788,42089,China,30,Times Higher Education,Unknown
...,...,...,...,...,...,...,...,...,...,...
170,University of Cape Town,0.085470,0.18,1775,3739,20775,South Africa,171,Times Higher Education,Unknown
171,"Rutgers, the State University of New Jersey",0.090090,0.10,3913,4343,43439,United States,172,Times Higher Education,Unknown
172,KTH Royal Institute of Technology,0.062500,0.17,809,2201,12951,Sweden,=173,Times Higher Education,Unknown
173,University of Münster,0.023474,0.07,992,2960,42287,Germany,=173,Times Higher Education,Unknown
174,Université Libre de Bruxelles,0.023041,0.35,583,8870,25343,Belgium,=175,Times Higher Education,Unknown
175,Newcastle University,0.064103,0.30,1343,6285,20952,United Kingdom,=175,Times Higher Education,Unknown
176,University of Liverpool,0.085470,0.35,1693,6935,19815,United Kingdom,=177,Times Higher Education,Unknown
177,Zhejiang University,0.070922,0.06,3549,3003,50051,China,=177,Times Higher Education,Unknown
178,University of Luxembourg,0.068493,0.57,340,2832,4969,Luxembourg,=179,Times Higher Education,Unknown
179,University of Twente,0.078125,0.27,523,1808,6697,Netherlands,=179,Times Higher Education,Unknown
180,Paris-Sud University,0.068966,0.16,1877,4355,27221,France,181,Times Higher Education,Unknown
181,École Normale Supérieure de Lyon,0.117647,0.13,261,288,2221,France,=182,Times Higher Education,Unknown
182,Hong Kong Polytechnic University,0.037175,0.25,809,5443,21773,Hong Kong,=182,Times Higher Education,Unknown
183,Scuola Normale Superiore di Pisa,0.192308,0.07,99,36,515,Italy,184,Times Higher Education,Unknown
184,University of Aberdeen,0.071942,0.36,867,4339,12055,United Kingdom,185,Times Higher Education,Unknown
185,University of Miami,0.169492,0.16,2688,2537,15860,United States,186,Times Higher Education,Unknown
186,University of Dundee,0.067114,0.24,731,2614,10893,United Kingdom,187,Times Higher Education,Unknown
187,University of East Anglia,0.073529,0.30,994,4056,13521,United Kingdom,=188,Times Higher Education,Unknown
188,Shanghai Jiao Tong University,0.080645,0.06,3007,2237,37288,China,=188,Times Higher Education,Unknown
189,Aalto University,0.049505,0.20,630,2548,12744,Finland,190,Times Higher Education,Unknown
190,University of Massachusetts,0.075188,0.14,4453,8292,59230,United States,191,Times Higher Education,Unknown
191,University of Auckland,0.053191,0.29,1614,8800,30348,New Zealand,192,Times Higher Education,Unknown
192,Northeastern University,0.071429,0.32,1341,6009,18780,United States,193,Times Higher Education,Unknown
193,Lomonosov Moscow State University,0.136986,0.22,4004,6431,29236,Russian Federation,194,Times Higher Education,Unknown
194,Tilburg University,0.044444,0.13,343,1005,7738,Netherlands,195,Times Higher Education,Unknown
195,Paris-Sorbonne University – Paris 4,0.033113,0.15,729,3306,22042,France,196,Times Higher Education,Unknown
196,"Royal Holloway, University of London",0.064935,0.40,579,3572,8931,United Kingdom,197,Times Higher Education,Unknown
197,"University of California, Riverside",0.048309,0.14,1001,2903,20740,United States,=198,Times Higher Education,Unknown
198,University of Gothenburg,0.100000,0.13,1837,2389,18378,Sweden,=198,Times Higher Education,Unknown
199,National Taiwan University,0.086957,0.08,2761,2540,31758,Taiwan,=198,Times Higher Education,Unknown

The 2 Dataframe are ready, we can answer the folowing assignment question.

Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?

For the Top university Website, the ratio between faculty members and students is computed as :

\begin{align}
\frac{Total\ faculty\ members}{Total\ number\ of\ student}
\end{align}

and the ratio of international students:
\begin{align}
\frac{Total\ number\ of\ international\ students}{Total\ number\ of\ student}
\end{align}

In [12]:
tu['Ratio faculty/students'] = tu['Total faculty members'].astype('float') / tu['Total number of students']
tu['Ratio international students'] = tu['Total number of international students'].astype('float') / tu['Total number of students']
tu

,Name,country,rank,region,International faculty members,Total faculty members,Total number of international students,Total number of students,Website,Ratio faculty/students,Ratio international students
0,Massachusetts Institute of Technology (MIT),United States,1,North America,1679.0,2982.0,3717.0,11067.0,Top Universities,0.269450,0.335863
1,Stanford University,United States,2,North America,2042.0,4285.0,3611.0,15878.0,Top Universities,0.269870,0.227422
2,Harvard University,United States,3,North America,1311.0,4350.0,5266.0,22429.0,Top Universities,0.193945,0.234785
3,California Institute of Technology (Caltech),United States,4,North America,350.0,953.0,647.0,2255.0,Top Universities,0.422616,0.286918
4,University of Cambridge,United Kingdom,5,Europe,2278.0,5490.0,6699.0,18770.0,Top Universities,0.292488,0.356899
5,University of Oxford,United Kingdom,6,Europe,2964.0,6750.0,7353.0,19720.0,Top Universities,0.342292,0.372870
6,UCL (University College London),United Kingdom,7,Europe,2554.0,6345.0,14854.0,31080.0,Top Universities,0.204151,0.477928
7,Imperial College London,United Kingdom,8,Europe,2071.0,3930.0,8746.0,16090.0,Top Universities,0.244251,0.543567
8,University of Chicago,United States,9,North America,635.0,2449.0,3379.0,13557.0,Top Universities,0.180645,0.249244
9,ETH Zurich - Swiss Federal Institute of Techno...,Switzerland,10,Europe,1886.0,2477.0,7563.0,19815.0,Top Universities,0.125006,0.381681
10,"Nanyang Technological University, Singapore (NTU)",Singapore,11,Asia,2993.0,4338.0,7251.0,25738.0,Top Universities,0.168545,0.281724
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),Switzerland,12,Europe,1300.0,1695.0,5896.0,10343.0,Top Universities,0.163879,0.570047
12,Princeton University,United States,13,North America,246.0,1007.0,1793.0,8069.0,Top Universities,0.124799,0.222208
13,Cornell University,United States,14,North America,970.0,2718.0,5411.0,21904.0,Top Universities,0.124087,0.247033
14,National University of Singapore (NUS),Singapore,15,Asia,3086.0,5106.0,8917.0,32728.0,Top Universities,0.156013,0.272458
15,Yale University,United States,16,North America,1708.0,4940.0,2469.0,12402.0,Top Universities,0.398323,0.199081
16,Johns Hopkins University,United States,17,North America,1061.0,4462.0,4105.0,16146.0,Top Universities,0.276353,0.254243
17,Columbia University,United States,18,North America,913.0,6189.0,8105.0,25045.0,Top Universities,0.247115,0.323617
18,University of Pennsylvania,United States,19,North America,1383.0,5499.0,4250.0,20639.0,Top Universities,0.266437,0.205921
19,The Australian National University,Australia,20,Oceania,927.0,1600.0,5551.0,14442.0,Top Universities,0.110788,0.384365
20,University of Michigan,United States,=21,North America,1920.0,6809.0,7527.0,43147.0,Top Universities,0.157809,0.174450
21,Duke University,United States,=21,North America,226.0,2938.0,2864.0,15320.0,Top Universities,0.191775,0.186945
22,The University of Edinburgh,United Kingdom,=23,Europe,1553.0,4075.0,10551.0,28040.0,Top Universities,0.145328,0.376284
23,King's College London,United Kingdom,=23,Europe,1513.0,3650.0,9451.0,23780.0,Top Universities,0.153490,0.397435
24,Tsinghua University,China,25,Asia,932.0,5506.0,4072.0,36300.0,Top Universities,0.151680,0.112176
25,The University of Hong Kong,Hong Kong,26,Asia,2085.0,3012.0,8230.0,20214.0,Top Universities,0.149006,0.407144
26,"University of California, Berkeley (UCB)",United States,27,North America,1395.0,3321.0,6086.0,36703.0,Top Universities,0.090483,0.165818
27,The University of Tokyo,Japan,=28,Asia,254.0,4514.0,2639.0,27279.0,Top Universities,0.165475,0.096741
28,Northwestern University,United States,=28,North America,1141.0,4231.0,3422.0,18675.0,Top Universities,0.226560,0.183240
29,The Hong Kong University of Science and Techno...,Hong Kong,30,Asia,835.0,1150.0,2921.0,10375.0,Top Universities,0.110843,0.281542
...,...,...,...,...,...,...,...,...,...,...,...
170,Albert-Ludwigs-Universitaet Freiburg,Germany,171,Europe,413.0,1966.0,3897.0,23214.0,Top Universities,0.084690,0.167873
171,Indian Institute of Technology Delhi (IITD),India,172,Asia,4.0,466.0,80.0,7477.0,Top Universities,0.062324,0.010699
172,King Fahd University of Petroleum & Minerals,Saudi Arabia,=173,Asia,665.0,1062.0,989.0,6040.0,Top Universities,0.175828,0.163742
173,University of Liverpool,United Kingdom,=173,Europe,717.0,2390.0,7502.0,22065.0,Top Universities,0.108316,0.339995
174,University of Virginia,United States,=173,North America,487.0,2509.0,1899.0,21560.0,Top Universities,0.116373,0.088080
175,University of Technology Sydney,Australia,176,Oceania,546.0,1328.0,7769.0,24207.0,Top Universities,0.054860,0.320940
176,CentraleSupélec,France,177,Europe,137.0,529.0,1132.0,3877.0,Top Universities,0.136446,0.291978
177,University of Florida,United States,178,North America,504.0,5419.0,4597.0,45485.0,Top Universities,0.119138,0.101066
178,Indian Institute of Technology Bombay (IITB),India,=179,Asia,19.0,876.0,93.0,9402.0,Top Universities,0.093172,0.009892
179,University of Twente,Netherlands,=179,Europe,299.0,910.0,2235.0,9332.0,Top Universities,0.097514,0.239498
180,University of Göttingen,Germany,181,Europe,641.0,3678.0,3736.0,30402.0,Top Universities,0.120979,0.122887
181,Vrije Universiteit Brussel (VUB),Belgium,=182,Europe,515.0,1792.0,1853.0,9284.0,Top Universities,0.193020,0.199591
182,Universidade Estadual de Campinas (Unicamp),Brazil,=182,Latin America,109.0,1968.0,966.0,26572.0,Top Universities,0.074063,0.036354
183,University of Colorado Boulder,United States,=182,North America,566.0,3685.0,2679.0,30219.0,Top Universities,0.121943,0.088653
184,Vienna University of Technology,Austria,=182,Europe,172.0,706.0,5199.0,17479.0,Top Universities,0.040391,0.297443
185,University of Rochester,United States,186,North America,488.0,2569.0,2805.0,9636.0,Top Universities,0.266604,0.291096
186,Universidad Autónoma de Madrid,Spain,187,Europe,181.0,2738.0,2976.0,26511.0,Top Universities,0.103278,0.112255
187,Alma Mater Studiorum - University of Bologna,Italy,=188,Europe,153.0,2990.0,4195.0,63399.0,Top Universities,0.047162,0.066168
188,University of Reading,United Kingdom,=188,Europe,422.0,1280.0,4077.0,13330.0,Top Universities,0.096024,0.305851
189,Indian Institute of Science (IISc) Bangalore,India,190,Asia,4071.0,423.0,423.0,47.0,Top Universities,9.000000,9.000000
190,University of Cape Town,South Africa,191,Africa,379.0,1733.0,3325.0,19593.0,Top Universities,0.088450,0.169703
191,Scuola Normale Superiore di Pisa,Italy,=192,Europe,1.0,86.0,48.0,532.0,Top Universities,0.161654,0.090226
192,Scuola Superiore Sant'Anna Pisa di Studi Unive...,Italy,=192,Europe,1.0,119.0,135.0,789.0,Top Universities,0.150824,0.171103
193,Keio University CEMS MIM,Japan,=192,Asia,261.0,3905.0,2178.0,33500.0,Top Universities,0.116567,0.065015
194,Stockholm University,Sweden,=195,Europe,646.0,2154.0,2636.0,28281.0,Top Universities,0.076164,0.093207
195,Universitat Autònoma de Barcelona,Spain,=195,Europe,230.0,2187.0,3848.0,31986.0,Top Universities,0.068374,0.120303
196,Texas A&M University,United States,=195,North America,206.0,3446.0,4900.0,60294.0,Top Universities,0.057153,0.081268
197,Instituto Tecnológico y de Estudios Superiores...,Mexico,199,Latin America,821.0,1822.0,1412.0,13376.0,Top Universities,0.136214,0.105562
198,Maastricht University,Netherlands,200,Europe,502.0,1277.0,8234.0,16385.0,Top Universities,0.077937,0.502533
199,Universidad de Chile,Chile,201,Latin America,127.0,2256.0,2134.0,38848.0,Top Universities,0.058072,0.054932

In [13]:
tu.columns

Index(['Name', 'country', 'rank', 'region', 'International faculty members',
       'Total faculty members', 'Total number of international students',
       'Total number of students', 'Website', 'Ratio faculty/students',
       'Ratio international students'],
      dtype='object')

In [14]:
tu.sort_values('Ratio faculty/students', ascending=False).head() # PROBLEMES
tu.sort_values('Ratio international students', ascending=False).head()

,Name,country,rank,region,International faculty members,Total faculty members,Total number of international students,Total number of students,Website,Ratio faculty/students,Ratio international students
189,Indian Institute of Science (IISc) Bangalore,India,190,Asia,4071.0,423.0,423.0,47.0,Top Universities,9.000000,9.000000
34,London School of Economics and Political Scien...,United Kingdom,35,Europe,687.0,1088.0,6748.0,9760.0,Top Universities,0.111475,0.691393
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),Switzerland,12,Europe,1300.0,1695.0,5896.0,10343.0,Top Universities,0.163879,0.570047
7,Imperial College London,United Kingdom,8,Europe,2071.0,3930.0,8746.0,16090.0,Top Universities,0.244251,0.543567
198,Maastricht University,Netherlands,200,Europe,502.0,1277.0,8234.0,16385.0,Top Universities,0.077937,0.502533

We will answer to the same question but aggregates by counties. Note the use of lambsa function. Lamda function are handy to write and are easy to read.

In [15]:
tu.groupby('country').apply(lambda x: x.sort_values('Ratio faculty/students', ascending=False).head())

                                                                 Name  \
country
Argentina      74                   Universidad de Buenos Aires (UBA)
Australia      19                  The Australian National University
               46                        The University of Queensland
               110                         The University of Adelaide
               41                         The University of Melbourne
               92                 The University of Western Australia
Austria        153                               University of Vienna
               184                    Vienna University of Technology
Belgium        181                   Vrije Universiteit Brussel (VUB)
               125                                   Ghent University
               71                                           KU Leuven
               152             Université catholique de Louvain (UCL)
Brazil         120                          Universidade de São Paulo
               182        Universidade Estadual de Campinas (Unicamp)
Canada         139                                McMaster University
               30                               University of Toronto
               31                                   McGill University
               90                               University of Alberta
               50                      University of British Columbia
Chile          137      Pontificia Universidad Católica de Chile (UC)
               199                               Universidad de Chile
China          24                                 Tsinghua University
               39                                    Fudan University
               96       University of Science and Technology of China
               37                                   Peking University
               86                                 Zhejiang University
Denmark        116                    Technical University of Denmark
               72                            University of Copenhagen
               118                                  Aarhus University
Finland        102                             University of Helsinki
...                                                               ...
South Korea    70   Pohang University of Science And Technology (P...
               107                     Sungkyunkwan University (SKKU)
               89                                    Korea University
               36                           Seoul National University
               105                                  Yonsei University
Spain          186                     Universidad Autónoma de Madrid
               155                           Universitat de Barcelona
               195                  Universitat Autònoma de Barcelona
Sweden         98                   KTH Royal Institute of Technology
               132                  Chalmers University of Technology
               78                                     Lund University
               111                                 Uppsala University
               194                               Stockholm University
Switzerland    73                                University of Zurich
               11     Ecole Polytechnique Fédérale de Lausanne (EPFL)
               145                             University of Lausanne
               9    ETH Zurich - Swiss Federal Institute of Techno...
               97                                University of Geneva
Taiwan         76                    National Taiwan University (NTU)
               161                      National Tsing Hua University
United Kingdom 5                                 University of Oxford
               4                              University of Cambridge
               7                              Imperial College London
               6                      UCL (University College London)
               23                               King's College London
United States  3         California Institute of Technology (Caltech)
               15                                     Yale University
               16                            Johns Hopkins University
               1                                  Stanford University
               0          Massachusetts Institute of Technology (MIT)

                           country  rank         region  \
country
Argentina      74        Argentina    75  Latin America
Australia      19        Australia    20        Oceania
               46        Australia   =47        Oceania
               110       Australia  =109        Oceania
               41        Australia   =41        Oceania
               92        Australia   =93        Oceania
Austria        153         Austria   154         Europe
               184         Austria  =182         Europe
Belgium        181         Belgium  =182         Europe
               125         Belgium  =125         Europe
               71          Belgium   =71         Europe
               152         Belgium   153         Europe
Brazil         120          Brazil   121  Latin America
               182          Brazil  =182  Latin America
Canada         139          Canada   140  North America
               30           Canada    31  North America
               31           Canada    32  North America
               90           Canada   =90  North America
               50           Canada    51  North America
Chile          137           Chile  =137  Latin America
               199           Chile   201  Latin America
China          24            China    25           Asia
               39            China    40           Asia
               96            China    97           Asia
               37            China   =38           Asia
               86            China    87           Asia
Denmark        116         Denmark  =116         Europe
               72          Denmark   =73         Europe
               118         Denmark   119         Europe
Finland        102         Finland  =102         Europe
...                            ...   ...            ...
South Korea    70      South Korea   =71           Asia
               107     South Korea   108           Asia
               89      South Korea   =90           Asia
               36      South Korea   =36           Asia
               105     South Korea   106           Asia
Spain          186           Spain   187         Europe
               155           Spain   156         Europe
               195           Spain  =195         Europe
Sweden         98           Sweden   =98         Europe
               132          Sweden   133         Europe
               78           Sweden   =78         Europe
               111          Sweden   112         Europe
               194          Sweden  =195         Europe
Switzerland    73      Switzerland   =73         Europe
               11      Switzerland    12         Europe
               145     Switzerland   146         Europe
               9       Switzerland    10         Europe
               97      Switzerland   =98         Europe
Taiwan         76           Taiwan   =76           Asia
               161          Taiwan  =161           Asia
United Kingdom 5    United Kingdom     6         Europe
               4    United Kingdom     5         Europe
               7    United Kingdom     8         Europe
               6    United Kingdom     7         Europe
               23   United Kingdom   =23         Europe
United States  3     United States     4  North America
               15    United States    16  North America
               16    United States    17  North America
               1     United States     2  North America
               0     United States     1  North America

                    International faculty members  Total faculty members  \
country
Argentina      74                          3165.0                16421.0
Australia      19                           927.0                 1600.0
               46                          1870.0                 3158.0
               110                          633.0                 1729.0
               41                          1477.0                 3311.0
               92                           809.0                 1420.0
Austria        153                         1400.0                 3411.0
               184                          172.0                  706.0
Belgium        181                          515.0                 1792.0
               125                          482.0                 2520.0
               71                           784.0                 2515.0
               152                          406.0                 1219.0
Brazil         120                          279.0                 5582.0
               182                          109.0                 1968.0
Canada         139                         1170.0                 3231.0
               30                          3905.0                 9581.0
               31                          1220.0                 3646.0
               90                          1294.0                 3561.0
               50                          1635.0                 4648.0
Chile          137                          198.0                 2260.0
               199                          127.0                 2256.0
China          24                           932.0                 5506.0
               39                          1178.0                 4037.0
               96                           155.0                 1992.0
               37                          1038.0                 5185.0
               86                          1913.0                 4507.0
Denmark        116                          966.0                 2117.0
               72                          2336.0                 7483.0
               118                          602.0                 2316.0
Finland        102                          535.0                 2645.0
...                                           ...                    ...
South Korea    70                           113.0                  664.0
               107                          324.0                 3556.0
               89                           339.0                 3745.0
               36                           433.0                 3930.0
               105                          290.0                 3621.0
Spain          186                          181.0                 2738.0
               155                          108.0                 3863.0
               195                          230.0                 2187.0
Sweden         98                           494.0                 1500.0
               132                          336.0                 1077.0
               78                          1002.0                 3031.0
               111                          584.0                 2567.0
               194                          646.0                 2154.0
Switzerland    73                          2617.0                 4997.0
               11                          1300.0                 1695.0
               145                         1031.0                 2173.0
               9                           1886.0                 2477.0
               97                          1029.0                 1752.0
Taiwan         76                           220.0                 2807.0
               161                          119.0                 1020.0
United Kingdom 5                           2964.0                 6750.0
               4                           2278.0                 5490.0
               7                           2071.0                 3930.0
               6                           2554.0                 6345.0
               23                          1513.0                 3650.0
United States  3                            350.0                  953.0
               15                          1708.0                 4940.0
               16                          1061.0                 4462.0
               1                           2042.0                 4285.0
               0                           1679.0                 2982.0

                    Total number of international students  \
country
Argentina      74                                  27109.0
Australia      19                                   5551.0
               46                                  10420.0
               110                                  8114.0
               41                                  18030.0
               92                                   4575.0
Austria        153                                 14468.0
               184                                  5199.0
Belgium        181                                  1853.0
               125                                  3766.0
               71                                   6926.0
               152                                  4468.0
Brazil         120                                  2086.0
               182                                   966.0
Canada         139                                  3548.0
               30                                  21910.0
               31                                   9540.0
               90                                   8203.0
               50                                  11388.0
Chile          137                                   991.0
               199                                  2134.0
China          24                                   4072.0
               39                                   4680.0
               96                                    548.0
               37                                   7090.0
               86                                   4625.0
Denmark        116                                  2098.0
               72                                   3683.0
               118                                  3762.0
Finland        102                                  1234.0
...                                                    ...
South Korea    70                                    126.0
               107                                  2818.0
               89                                   3638.0
               36                                   2331.0
               105                                  3379.0
Spain          186                                  2976.0
               155                                  6134.0
               195                                  3848.0
Sweden         98                                   1937.0
               132                                  1465.0
               78                                   6408.0
               111                                  5198.0
               194                                  2636.0
Switzerland    73                                   5036.0
               11                                   5896.0
               145                                  3337.0
               9                                    7563.0
               97                                   6104.0
Taiwan         76                                   3152.0
               161                                  1187.0
United Kingdom 5                                    7353.0
               4                                    6699.0
               7                                    8746.0
               6                                   14854.0
               23                                   9451.0
United States  3                                     647.0
               15                                   2469.0
               16                                   4105.0
               1                                    3611.0
               0                                    3717.0

                    Total number of students           Website  \
country
Argentina      74                   122301.0  Top Universities
Australia      19                    14442.0  Top Universities
               46                    37497.0  Top Universities
               110                   21240.0  Top Universities
               41                    42182.0  Top Universities
               92                    18531.0  Top Universities
Austria        153                   45967.0  Top Universities
               184                   17479.0  Top Universities
Belgium        181                    9284.0  Top Universities
               125                   35968.0  Top Universities
               71                    45538.0  Top Universities
               152                   24277.0  Top Universities
Brazil         120                   65711.0  Top Universities
               182                   26572.0  Top Universities
Canada         139                   23702.0  Top Universities
               30                    72207.0  Top Universities
               31                    28837.0  Top Universities
               90                    31765.0  Top Universities
               50                    50350.0  Top Universities
Chile          137                   27003.0  Top Universities
               199                   38848.0  Top Universities
China          24                    36300.0  Top Universities
               39                    29135.0  Top Universities
               96                    16032.0  Top Universities
               37                    42136.0  Top Universities
               86                    40869.0  Top Universities
Denmark        116                    8878.0  Top Universities
               72                    32119.0  Top Universities
               118                   26226.0  Top Universities
Finland        102                   22419.0  Top Universities
...                                      ...               ...
South Korea    70                     3117.0  Top Universities
               107                   23921.0  Top Universities
               89                    25892.0  Top Universities
               36                    28064.0  Top Universities
               105                   25903.0  Top Universities
Spain          186                   26511.0  Top Universities
               155                   46002.0  Top Universities
               195                   31986.0  Top Universities
Sweden         98                    12658.0  Top Universities
               132                    9257.0  Top Universities
               78                    27786.0  Top Universities
               111                   25371.0  Top Universities
               194                   28281.0  Top Universities
Switzerland    73                    26065.0  Top Universities
               11                    10343.0  Top Universities
               145                   13435.0  Top Universities
               9                     19815.0  Top Universities
               97                    15844.0  Top Universities
Taiwan         76                    32195.0  Top Universities
               161                   13890.0  Top Universities
United Kingdom 5                     19720.0  Top Universities
               4                     18770.0  Top Universities
               7                     16090.0  Top Universities
               6                     31080.0  Top Universities
               23                    23780.0  Top Universities
United States  3                      2255.0  Top Universities
               15                    12402.0  Top Universities
               16                    16146.0  Top Universities
               1                     15878.0  Top Universities
               0                     11067.0  Top Universities


In [16]:
tu.groupby('country').apply(lambda x: x.sort_values('Ratio international students', ascending=False).head())

                                                                 Name  \
country
Argentina      74                   Universidad de Buenos Aires (UBA)
Australia      41                         The University of Melbourne
               19                  The Australian National University
               110                         The University of Adelaide
               49                            The University of Sydney
               44     The University of New South Wales (UNSW Sydney)
Austria        153                               University of Vienna
               184                    Vienna University of Technology
Belgium        181                   Vrije Universiteit Brussel (VUB)
               152             Université catholique de Louvain (UCL)
               71                                           KU Leuven
               125                                   Ghent University
Brazil         182        Universidade Estadual de Campinas (Unicamp)
               120                          Universidade de São Paulo
Canada         31                                   McGill University
               30                               University of Toronto
               90                               University of Alberta
               151                             University of Waterloo
               129                             Université de Montréal
Chile          199                               Universidad de Chile
               137      Pontificia Universidad Católica de Chile (UC)
China          37                                   Peking University
               39                                    Fudan University
               86                                 Zhejiang University
               24                                 Tsinghua University
               114                                 Nanjing University
Denmark        116                    Technical University of Denmark
               118                                  Aarhus University
               72                            University of Copenhagen
Finland        138                                   Aalto University
...                                                               ...
South Korea    154                                 Hanyang University
               89                                    Korea University
               105                                  Yonsei University
               107                     Sungkyunkwan University (SKKU)
               36                           Seoul National University
Spain          155                           Universitat de Barcelona
               195                  Universitat Autònoma de Barcelona
               186                     Universidad Autónoma de Madrid
Sweden         78                                     Lund University
               111                                 Uppsala University
               132                  Chalmers University of Technology
               98                   KTH Royal Institute of Technology
               194                               Stockholm University
Switzerland    11     Ecole Polytechnique Fédérale de Lausanne (EPFL)
               97                                University of Geneva
               9    ETH Zurich - Swiss Federal Institute of Techno...
               148                                University of Basel
               145                             University of Lausanne
Taiwan         76                    National Taiwan University (NTU)
               161                      National Tsing Hua University
United Kingdom 34   London School of Economics and Political Scien...
               7                              Imperial College London
               6                      UCL (University College London)
               91                            University of St Andrews
               126                    Queen Mary University of London
United States  47                          Carnegie Mellon University
               0          Massachusetts Institute of Technology (MIT)
               17                                 Columbia University
               185                            University of Rochester
               3         California Institute of Technology (Caltech)

                           country  rank         region  \
country
Argentina      74        Argentina    75  Latin America
Australia      41        Australia   =41        Oceania
               19        Australia    20        Oceania
               110       Australia  =109        Oceania
               49        Australia    50        Oceania
               44        Australia    45        Oceania
Austria        153         Austria   154         Europe
               184         Austria  =182         Europe
Belgium        181         Belgium  =182         Europe
               152         Belgium   153         Europe
               71          Belgium   =71         Europe
               125         Belgium  =125         Europe
Brazil         182          Brazil  =182  Latin America
               120          Brazil   121  Latin America
Canada         31           Canada    32  North America
               30           Canada    31  North America
               90           Canada   =90  North America
               151          Canada   152  North America
               129          Canada   130  North America
Chile          199           Chile   201  Latin America
               137           Chile  =137  Latin America
China          37            China   =38           Asia
               39            China    40           Asia
               86            China    87           Asia
               24            China    25           Asia
               114           China  =114           Asia
Denmark        116         Denmark  =116         Europe
               118         Denmark   119         Europe
               72          Denmark   =73         Europe
Finland        138         Finland  =137         Europe
...                            ...   ...            ...
South Korea    154     South Korea   155           Asia
               89      South Korea   =90           Asia
               105     South Korea   106           Asia
               107     South Korea   108           Asia
               36      South Korea   =36           Asia
Spain          155           Spain   156         Europe
               195           Spain  =195         Europe
               186           Spain   187         Europe
Sweden         78           Sweden   =78         Europe
               111          Sweden   112         Europe
               132          Sweden   133         Europe
               98           Sweden   =98         Europe
               194          Sweden  =195         Europe
Switzerland    11      Switzerland    12         Europe
               97      Switzerland   =98         Europe
               9       Switzerland    10         Europe
               148     Switzerland  =149         Europe
               145     Switzerland   146         Europe
Taiwan         76           Taiwan   =76           Asia
               161          Taiwan  =161           Asia
United Kingdom 34   United Kingdom    35         Europe
               7    United Kingdom     8         Europe
               6    United Kingdom     7         Europe
               91   United Kingdom    92         Europe
               126  United Kingdom   127         Europe
United States  47    United States   =47  North America
               0     United States     1  North America
               17    United States    18  North America
               185   United States   186  North America
               3     United States     4  North America

                    International faculty members  Total faculty members  \
country
Argentina      74                          3165.0                16421.0
Australia      41                          1477.0                 3311.0
               19                           927.0                 1600.0
               110                          633.0                 1729.0
               49                          1829.0                 3360.0
               44                          1612.0                 2924.0
Austria        153                         1400.0                 3411.0
               184                          172.0                  706.0
Belgium        181                          515.0                 1792.0
               152                          406.0                 1219.0
               71                           784.0                 2515.0
               125                          482.0                 2520.0
Brazil         182                          109.0                 1968.0
               120                          279.0                 5582.0
Canada         31                          1220.0                 3646.0
               30                          3905.0                 9581.0
               90                          1294.0                 3561.0
               151                          473.0                 1689.0
               129                         1037.0                 2961.0
Chile          199                          127.0                 2256.0
               137                          198.0                 2260.0
China          37                          1038.0                 5185.0
               39                          1178.0                 4037.0
               86                          1913.0                 4507.0
               24                           932.0                 5506.0
               114                          617.0                 2449.0
Denmark        116                          966.0                 2117.0
               118                          602.0                 2316.0
               72                          2336.0                 7483.0
Finland        138                          370.0                 1257.0
...                                           ...                    ...
South Korea    154                          364.0                 3085.0
               89                           339.0                 3745.0
               105                          290.0                 3621.0
               107                          324.0                 3556.0
               36                           433.0                 3930.0
Spain          155                          108.0                 3863.0
               195                          230.0                 2187.0
               186                          181.0                 2738.0
Sweden         78                          1002.0                 3031.0
               111                          584.0                 2567.0
               132                          336.0                 1077.0
               98                           494.0                 1500.0
               194                          646.0                 2154.0
Switzerland    11                          1300.0                 1695.0
               97                          1029.0                 1752.0
               9                           1886.0                 2477.0
               148                          684.0                 1057.0
               145                         1031.0                 2173.0
Taiwan         76                           220.0                 2807.0
               161                          119.0                 1020.0
United Kingdom 34                           687.0                 1088.0
               7                           2071.0                 3930.0
               6                           2554.0                 6345.0
               91                           485.0                 1140.0
               126                          801.0                 1885.0
United States  47                           425.0                 1342.0
               0                           1679.0                 2982.0
               17                           913.0                 6189.0
               185                          488.0                 2569.0
               3                            350.0                  953.0

                    Total number of international students  \
country
Argentina      74                                  27109.0
Australia      41                                  18030.0
               19                                   5551.0
               110                                  8114.0
               49                                  17030.0
               44                                  14292.0
Austria        153                                 14468.0
               184                                  5199.0
Belgium        181                                  1853.0
               152                                  4468.0
               71                                   6926.0
               125                                  3766.0
Brazil         182                                   966.0
               120                                  2086.0
Canada         31                                   9540.0
               30                                  21910.0
               90                                   8203.0
               151                                  8962.0
               129                                  9688.0
Chile          199                                  2134.0
               137                                   991.0
China          37                                   7090.0
               39                                   4680.0
               86                                   4625.0
               24                                   4072.0
               114                                  2960.0
Denmark        116                                  2098.0
               118                                  3762.0
               72                                   3683.0
Finland        138                                  1831.0
...                                                    ...
South Korea    154                                  3397.0
               89                                   3638.0
               105                                  3379.0
               107                                  2818.0
               36                                   2331.0
Spain          155                                  6134.0
               195                                  3848.0
               186                                  2976.0
Sweden         78                                   6408.0
               111                                  5198.0
               132                                  1465.0
               98                                   1937.0
               194                                  2636.0
Switzerland    11                                   5896.0
               97                                   6104.0
               9                                    7563.0
               148                                  3441.0
               145                                  3337.0
Taiwan         76                                   3152.0
               161                                  1187.0
United Kingdom 34                                   6748.0
               7                                    8746.0
               6                                   14854.0
               91                                   4030.0
               126                                  6806.0
United States  47                                   6385.0
               0                                    3717.0
               17                                   8105.0
               185                                  2805.0
               3                                     647.0

                    Total number of students           Website  \
country
Argentina      74                   122301.0  Top Universities
Australia      41                    42182.0  Top Universities
               19                    14442.0  Top Universities
               110                   21240.0  Top Universities
               49                    46678.0  Top Universities
               44                    39784.0  Top Universities
Austria        153                   45967.0  Top Universities
               184                   17479.0  Top Universities
Belgium        181                    9284.0  Top Universities
               152                   24277.0  Top Universities
               71                    45538.0  Top Universities
               125                   35968.0  Top Universities
Brazil         182                   26572.0  Top Universities
               120                   65711.0  Top Universities
Canada         31                    28837.0  Top Universities
               30                    72207.0  Top Universities
               90                    31765.0  Top Universities
               151                   35541.0  Top Universities
               129                   39112.0  Top Universities
Chile          199                   38848.0  Top Universities
               137                   27003.0  Top Universities
China          37                    42136.0  Top Universities
               39                    29135.0  Top Universities
               86                    40869.0  Top Universities
               24                    36300.0  Top Universities
               114                   32495.0  Top Universities
Denmark        116                    8878.0  Top Universities
               118                   26226.0  Top Universities
               72                    32119.0  Top Universities
Finland        138                   12147.0  Top Universities
...                                      ...               ...
South Korea    154                   23348.0  Top Universities
               89                    25892.0  Top Universities
               105                   25903.0  Top Universities
               107                   23921.0  Top Universities
               36                    28064.0  Top Universities
Spain          155                   46002.0  Top Universities
               195                   31986.0  Top Universities
               186                   26511.0  Top Universities
Sweden         78                    27786.0  Top Universities
               111                   25371.0  Top Universities
               132                    9257.0  Top Universities
               98                    12658.0  Top Universities
               194                   28281.0  Top Universities
Switzerland    11                    10343.0  Top Universities
               97                    15844.0  Top Universities
               9                     19815.0  Top Universities
               148                   12852.0  Top Universities
               145                   13435.0  Top Universities
Taiwan         76                    32195.0  Top Universities
               161                   13890.0  Top Universities
United Kingdom 34                     9760.0  Top Universities
               7                     16090.0  Top Universities
               6                     31080.0  Top Universities
               91                     8800.0  Top Universities
               126                   16135.0  Top Universities
United States  47                    13356.0  Top Universities
               0                     11067.0  Top Universities
               17                    25045.0  Top Universities
               185                    9636.0  Top Universities
               3                      2255.0  Top Universities


The aggregation is done with region.

In [17]:
tu.groupby('region').apply(lambda x: x.sort_values('Ratio faculty/students', ascending=False).head())

                                                                Name  \
region
Africa        190                            University of Cape Town
Asia          189       Indian Institute of Science (IISc) Bangalore
              70   Pohang University of Science And Technology (P...
              75                                   Tohoku University
              35                                    Kyoto University
              172       King Fahd University of Petroleum & Minerals
Europe        5                                 University of Oxford
              4                              University of Cambridge
              7                              Imperial College London
              116                    Technical University of Denmark
              72                            University of Copenhagen
Latin America 197  Instituto Tecnológico y de Estudios Superiores...
              74                   Universidad de Buenos Aires (UBA)
              121    Universidad Nacional Autónoma de México  (UNAM)
              120                          Universidade de São Paulo
              137      Pontificia Universidad Católica de Chile (UC)
North America 3         California Institute of Technology (Caltech)
              15                                     Yale University
              16                            Johns Hopkins University
              1                                  Stanford University
              0          Massachusetts Institute of Technology (MIT)
Oceania       19                  The Australian National University
              46                        The University of Queensland
              110                         The University of Adelaide
              41                         The University of Melbourne
              92                 The University of Western Australia

                          country  rank         region  \
region
Africa        190    South Africa   191         Africa
Asia          189           India   190           Asia
              70      South Korea   =71           Asia
              75            Japan   =76           Asia
              35            Japan   =36           Asia
              172    Saudi Arabia  =173           Asia
Europe        5    United Kingdom     6         Europe
              4    United Kingdom     5         Europe
              7    United Kingdom     8         Europe
              116         Denmark  =116         Europe
              72          Denmark   =73         Europe
Latin America 197          Mexico   199  Latin America
              74        Argentina    75  Latin America
              121          Mexico  =122  Latin America
              120          Brazil   121  Latin America
              137           Chile  =137  Latin America
North America 3     United States     4  North America
              15    United States    16  North America
              16    United States    17  North America
              1     United States     2  North America
              0     United States     1  North America
Oceania       19        Australia    20        Oceania
              46        Australia   =47        Oceania
              110       Australia  =109        Oceania
              41        Australia   =41        Oceania
              92        Australia   =93        Oceania

                   International faculty members  Total faculty members  \
region
Africa        190                          379.0                 1733.0
Asia          189                         4071.0                  423.0
              70                           113.0                  664.0
              75                           264.0                 3411.0
              35                           293.0                 4060.0
              172                          665.0                 1062.0
Europe        5                           2964.0                 6750.0
              4                           2278.0                 5490.0
              7                           2071.0                 3930.0
              116                          966.0                 2117.0
              72                          2336.0                 7483.0
Latin America 197                          821.0                 1822.0
              74                          3165.0                16421.0
              121                          949.0                15073.0
              120                          279.0                 5582.0
              137                          198.0                 2260.0
North America 3                            350.0                  953.0
              15                          1708.0                 4940.0
              16                          1061.0                 4462.0
              1                           2042.0                 4285.0
              0                           1679.0                 2982.0
Oceania       19                           927.0                 1600.0
              46                          1870.0                 3158.0
              110                          633.0                 1729.0
              41                          1477.0                 3311.0
              92                           809.0                 1420.0

                   Total number of international students  \
region
Africa        190                                  3325.0
Asia          189                                   423.0
              70                                    126.0
              75                                   1604.0
              35                                   1990.0
              172                                   989.0
Europe        5                                    7353.0
              4                                    6699.0
              7                                    8746.0
              116                                  2098.0
              72                                   3683.0
Latin America 197                                  1412.0
              74                                  27109.0
              121                                  2173.0
              120                                  2086.0
              137                                   991.0
North America 3                                     647.0
              15                                   2469.0
              16                                   4105.0
              1                                    3611.0
              0                                    3717.0
Oceania       19                                   5551.0
              46                                  10420.0
              110                                  8114.0
              41                                  18030.0
              92                                   4575.0

                   Total number of students           Website  \
region
Africa        190                   19593.0  Top Universities
Asia          189                      47.0  Top Universities
              70                     3117.0  Top Universities
              75                    17827.0  Top Universities
              35                    22974.0  Top Universities
              172                    6040.0  Top Universities
Europe        5                     19720.0  Top Universities
              4                     18770.0  Top Universities
              7                     16090.0  Top Universities
              116                    8878.0  Top Universities
              72                    32119.0  Top Universities
Latin America 197                   13376.0  Top Universities
              74                   122301.0  Top Universities
              121                  141939.0  Top Universities
              120                   65711.0  Top Universities
              137                   27003.0  Top Universities
North America 3                      2255.0  Top Universities
              15                    12402.0  Top Universities
              16                    16146.0  Top Universities
              1                     15878.0  Top Universities
              0                     11067.0  Top Universities
Oceania       19                    14442.0  Top Universities
              46                    37497.0  Top Universities
              110                   21240.0  Top Universities
              41                    42182.0  Top Universities
              92                    18531.0  Top Universities

                   Ratio faculty/students  Ratio international students
region
Africa        190                0.088450                      0.169703
Asia          189                9.000000                      9.000000
              70                 0.213025                      0.040423
              75                 0.191339                      0.089976
              35                 0.176722                      0.086620
              172                0.175828                      0.163742
Europe        5                  0.342292                      0.372870
              4                  0.292488                      0.356899
              7                  0.244251                      0.543567
              116                0.238455                      0.236314
              72                 0.232977                      0.114667
Latin America 197                0.136214                      0.105562
              74                 0.134267                      0.221658
              121                0.106194                      0.015309
              120                0.084948                      0.031745
              137                0.083694                      0.036700
North America 3                  0.422616                      0.286918
              15                 0.398323                      0.199081
              16                 0.276353                      0.254243
              1                  0.269870                      0.227422
              0                  0.269450                      0.335863
Oceania       19                 0.110788                      0.384365
              46                 0.084220                      0.277889
              110                0.081403                      0.382015
              41                 0.078493                      0.427434
              92                 0.076628                      0.246884

In [18]:
tu.groupby('region').apply(lambda x: x.sort_values('Ratio international students', ascending=False).head())

                                                                Name  \
region
Africa        190                            University of Cape Town
Asia          189       Indian Institute of Science (IISc) Bangalore
              25                         The University of Hong Kong
              48                        City University of Hong Kong
              10   Nanyang Technological University, Singapore (NTU)
              29   The Hong Kong University of Science and Techno...
Europe        34   London School of Economics and Political Scien...
              11     Ecole Polytechnique Fédérale de Lausanne (EPFL)
              7                              Imperial College London
              198                              Maastricht University
              6                      UCL (University College London)
Latin America 74                   Universidad de Buenos Aires (UBA)
              197  Instituto Tecnológico y de Estudios Superiores...
              199                               Universidad de Chile
              137      Pontificia Universidad Católica de Chile (UC)
              182        Universidade Estadual de Campinas (Unicamp)
North America 47                          Carnegie Mellon University
              0          Massachusetts Institute of Technology (MIT)
              31                                   McGill University
              17                                 Columbia University
              30                               University of Toronto
Oceania       41                         The University of Melbourne
              19                  The Australian National University
              110                         The University of Adelaide
              49                            The University of Sydney
              44     The University of New South Wales (UNSW Sydney)

                          country  rank         region  \
region
Africa        190    South Africa   191         Africa
Asia          189           India   190           Asia
              25        Hong Kong    26           Asia
              48        Hong Kong    49           Asia
              10        Singapore    11           Asia
              29        Hong Kong    30           Asia
Europe        34   United Kingdom    35         Europe
              11      Switzerland    12         Europe
              7    United Kingdom     8         Europe
              198     Netherlands   200         Europe
              6    United Kingdom     7         Europe
Latin America 74        Argentina    75  Latin America
              197          Mexico   199  Latin America
              199           Chile   201  Latin America
              137           Chile  =137  Latin America
              182          Brazil  =182  Latin America
North America 47    United States   =47  North America
              0     United States     1  North America
              31           Canada    32  North America
              17    United States    18  North America
              30           Canada    31  North America
Oceania       41        Australia   =41        Oceania
              19        Australia    20        Oceania
              110       Australia  =109        Oceania
              49        Australia    50        Oceania
              44        Australia    45        Oceania

                   International faculty members  Total faculty members  \
region
Africa        190                          379.0                 1733.0
Asia          189                         4071.0                  423.0
              25                          2085.0                 3012.0
              48                          1027.0                 1349.0
              10                          2993.0                 4338.0
              29                           835.0                 1150.0
Europe        34                           687.0                 1088.0
              11                          1300.0                 1695.0
              7                           2071.0                 3930.0
              198                          502.0                 1277.0
              6                           2554.0                 6345.0
Latin America 74                          3165.0                16421.0
              197                          821.0                 1822.0
              199                          127.0                 2256.0
              137                          198.0                 2260.0
              182                          109.0                 1968.0
North America 47                           425.0                 1342.0
              0                           1679.0                 2982.0
              31                          1220.0                 3646.0
              17                           913.0                 6189.0
              30                          3905.0                 9581.0
Oceania       41                          1477.0                 3311.0
              19                           927.0                 1600.0
              110                          633.0                 1729.0
              49                          1829.0                 3360.0
              44                          1612.0                 2924.0

                   Total number of international students  \
region
Africa        190                                  3325.0
Asia          189                                   423.0
              25                                   8230.0
              48                                   3273.0
              10                                   7251.0
              29                                   2921.0
Europe        34                                   6748.0
              11                                   5896.0
              7                                    8746.0
              198                                  8234.0
              6                                   14854.0
Latin America 74                                  27109.0
              197                                  1412.0
              199                                  2134.0
              137                                   991.0
              182                                   966.0
North America 47                                   6385.0
              0                                    3717.0
              31                                   9540.0
              17                                   8105.0
              30                                  21910.0
Oceania       41                                  18030.0
              19                                   5551.0
              110                                  8114.0
              49                                  17030.0
              44                                  14292.0

                   Total number of students           Website  \
region
Africa        190                   19593.0  Top Universities
Asia          189                      47.0  Top Universities
              25                    20214.0  Top Universities
              48                     9240.0  Top Universities
              10                    25738.0  Top Universities
              29                    10375.0  Top Universities
Europe        34                     9760.0  Top Universities
              11                    10343.0  Top Universities
              7                     16090.0  Top Universities
              198                   16385.0  Top Universities
              6                     31080.0  Top Universities
Latin America 74                   122301.0  Top Universities
              197                   13376.0  Top Universities
              199                   38848.0  Top Universities
              137                   27003.0  Top Universities
              182                   26572.0  Top Universities
North America 47                    13356.0  Top Universities
              0                     11067.0  Top Universities
              31                    28837.0  Top Universities
              17                    25045.0  Top Universities
              30                    72207.0  Top Universities
Oceania       41                    42182.0  Top Universities
              19                    14442.0  Top Universities
              110                   21240.0  Top Universities
              49                    46678.0  Top Universities
              44                    39784.0  Top Universities

                   Ratio faculty/students  Ratio international students
region
Africa        190                0.088450                      0.169703
Asia          189                9.000000                      9.000000
              25                 0.149006                      0.407144
              48                 0.145996                      0.354221
              10                 0.168545                      0.281724
              29                 0.110843                      0.281542
Europe        34                 0.111475                      0.691393
              11                 0.163879                      0.570047
              7                  0.244251                      0.543567
              198                0.077937                      0.502533
              6                  0.204151                      0.477928
Latin America 74                 0.134267                      0.221658
              197                0.136214                      0.105562
              199                0.058072                      0.054932
              137                0.083694                      0.036700
              182                0.074063                      0.036354
North America 47                 0.100479                      0.478062
              0                  0.269450                      0.335863
              31                 0.126435                      0.330825
              17                 0.247115                      0.323617
              30                 0.132688                      0.303433
Oceania       41                 0.078493                      0.427434
              19                 0.110788                      0.384365
              110                0.081403                      0.382015
              49                 0.071983                      0.364840
              44                 0.073497                      0.359240

## Merge

In order to merge the 2 universities, we need to have a commun unique information in the both side. We will use the names of the universities as unique identifier in the both table.

In [19]:
tu

,Name,country,rank,region,International faculty members,Total faculty members,Total number of international students,Total number of students,Website,Ratio faculty/students,Ratio international students
0,Massachusetts Institute of Technology (MIT),United States,1,North America,1679.0,2982.0,3717.0,11067.0,Top Universities,0.269450,0.335863
1,Stanford University,United States,2,North America,2042.0,4285.0,3611.0,15878.0,Top Universities,0.269870,0.227422
2,Harvard University,United States,3,North America,1311.0,4350.0,5266.0,22429.0,Top Universities,0.193945,0.234785
3,California Institute of Technology (Caltech),United States,4,North America,350.0,953.0,647.0,2255.0,Top Universities,0.422616,0.286918
4,University of Cambridge,United Kingdom,5,Europe,2278.0,5490.0,6699.0,18770.0,Top Universities,0.292488,0.356899
5,University of Oxford,United Kingdom,6,Europe,2964.0,6750.0,7353.0,19720.0,Top Universities,0.342292,0.372870
6,UCL (University College London),United Kingdom,7,Europe,2554.0,6345.0,14854.0,31080.0,Top Universities,0.204151,0.477928
7,Imperial College London,United Kingdom,8,Europe,2071.0,3930.0,8746.0,16090.0,Top Universities,0.244251,0.543567
8,University of Chicago,United States,9,North America,635.0,2449.0,3379.0,13557.0,Top Universities,0.180645,0.249244
9,ETH Zurich - Swiss Federal Institute of Techno...,Switzerland,10,Europe,1886.0,2477.0,7563.0,19815.0,Top Universities,0.125006,0.381681
10,"Nanyang Technological University, Singapore (NTU)",Singapore,11,Asia,2993.0,4338.0,7251.0,25738.0,Top Universities,0.168545,0.281724
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),Switzerland,12,Europe,1300.0,1695.0,5896.0,10343.0,Top Universities,0.163879,0.570047
12,Princeton University,United States,13,North America,246.0,1007.0,1793.0,8069.0,Top Universities,0.124799,0.222208
13,Cornell University,United States,14,North America,970.0,2718.0,5411.0,21904.0,Top Universities,0.124087,0.247033
14,National University of Singapore (NUS),Singapore,15,Asia,3086.0,5106.0,8917.0,32728.0,Top Universities,0.156013,0.272458
15,Yale University,United States,16,North America,1708.0,4940.0,2469.0,12402.0,Top Universities,0.398323,0.199081
16,Johns Hopkins University,United States,17,North America,1061.0,4462.0,4105.0,16146.0,Top Universities,0.276353,0.254243
17,Columbia University,United States,18,North America,913.0,6189.0,8105.0,25045.0,Top Universities,0.247115,0.323617
18,University of Pennsylvania,United States,19,North America,1383.0,5499.0,4250.0,20639.0,Top Universities,0.266437,0.205921
19,The Australian National University,Australia,20,Oceania,927.0,1600.0,5551.0,14442.0,Top Universities,0.110788,0.384365
20,University of Michigan,United States,=21,North America,1920.0,6809.0,7527.0,43147.0,Top Universities,0.157809,0.174450
21,Duke University,United States,=21,North America,226.0,2938.0,2864.0,15320.0,Top Universities,0.191775,0.186945
22,The University of Edinburgh,United Kingdom,=23,Europe,1553.0,4075.0,10551.0,28040.0,Top Universities,0.145328,0.376284
23,King's College London,United Kingdom,=23,Europe,1513.0,3650.0,9451.0,23780.0,Top Universities,0.153490,0.397435
24,Tsinghua University,China,25,Asia,932.0,5506.0,4072.0,36300.0,Top Universities,0.151680,0.112176
25,The University of Hong Kong,Hong Kong,26,Asia,2085.0,3012.0,8230.0,20214.0,Top Universities,0.149006,0.407144
26,"University of California, Berkeley (UCB)",United States,27,North America,1395.0,3321.0,6086.0,36703.0,Top Universities,0.090483,0.165818
27,The University of Tokyo,Japan,=28,Asia,254.0,4514.0,2639.0,27279.0,Top Universities,0.165475,0.096741
28,Northwestern University,United States,=28,North America,1141.0,4231.0,3422.0,18675.0,Top Universities,0.226560,0.183240
29,The Hong Kong University of Science and Techno...,Hong Kong,30,Asia,835.0,1150.0,2921.0,10375.0,Top Universities,0.110843,0.281542
...,...,...,...,...,...,...,...,...,...,...,...
170,Albert-Ludwigs-Universitaet Freiburg,Germany,171,Europe,413.0,1966.0,3897.0,23214.0,Top Universities,0.084690,0.167873
171,Indian Institute of Technology Delhi (IITD),India,172,Asia,4.0,466.0,80.0,7477.0,Top Universities,0.062324,0.010699
172,King Fahd University of Petroleum & Minerals,Saudi Arabia,=173,Asia,665.0,1062.0,989.0,6040.0,Top Universities,0.175828,0.163742
173,University of Liverpool,United Kingdom,=173,Europe,717.0,2390.0,7502.0,22065.0,Top Universities,0.108316,0.339995
174,University of Virginia,United States,=173,North America,487.0,2509.0,1899.0,21560.0,Top Universities,0.116373,0.088080
175,University of Technology Sydney,Australia,176,Oceania,546.0,1328.0,7769.0,24207.0,Top Universities,0.054860,0.320940
176,CentraleSupélec,France,177,Europe,137.0,529.0,1132.0,3877.0,Top Universities,0.136446,0.291978
177,University of Florida,United States,178,North America,504.0,5419.0,4597.0,45485.0,Top Universities,0.119138,0.101066
178,Indian Institute of Technology Bombay (IITB),India,=179,Asia,19.0,876.0,93.0,9402.0,Top Universities,0.093172,0.009892
179,University of Twente,Netherlands,=179,Europe,299.0,910.0,2235.0,9332.0,Top Universities,0.097514,0.239498
180,University of Göttingen,Germany,181,Europe,641.0,3678.0,3736.0,30402.0,Top Universities,0.120979,0.122887
181,Vrije Universiteit Brussel (VUB),Belgium,=182,Europe,515.0,1792.0,1853.0,9284.0,Top Universities,0.193020,0.199591
182,Universidade Estadual de Campinas (Unicamp),Brazil,=182,Latin America,109.0,1968.0,966.0,26572.0,Top Universities,0.074063,0.036354
183,University of Colorado Boulder,United States,=182,North America,566.0,3685.0,2679.0,30219.0,Top Universities,0.121943,0.088653
184,Vienna University of Technology,Austria,=182,Europe,172.0,706.0,5199.0,17479.0,Top Universities,0.040391,0.297443
185,University of Rochester,United States,186,North America,488.0,2569.0,2805.0,9636.0,Top Universities,0.266604,0.291096
186,Universidad Autónoma de Madrid,Spain,187,Europe,181.0,2738.0,2976.0,26511.0,Top Universities,0.103278,0.112255
187,Alma Mater Studiorum - University of Bologna,Italy,=188,Europe,153.0,2990.0,4195.0,63399.0,Top Universities,0.047162,0.066168
188,University of Reading,United Kingdom,=188,Europe,422.0,1280.0,4077.0,13330.0,Top Universities,0.096024,0.305851
189,Indian Institute of Science (IISc) Bangalore,India,190,Asia,4071.0,423.0,423.0,47.0,Top Universities,9.000000,9.000000
190,University of Cape Town,South Africa,191,Africa,379.0,1733.0,3325.0,19593.0,Top Universities,0.088450,0.169703
191,Scuola Normale Superiore di Pisa,Italy,=192,Europe,1.0,86.0,48.0,532.0,Top Universities,0.161654,0.090226
192,Scuola Superiore Sant'Anna Pisa di Studi Unive...,Italy,=192,Europe,1.0,119.0,135.0,789.0,Top Universities,0.150824,0.171103
193,Keio University CEMS MIM,Japan,=192,Asia,261.0,3905.0,2178.0,33500.0,Top Universities,0.116567,0.065015
194,Stockholm University,Sweden,=195,Europe,646.0,2154.0,2636.0,28281.0,Top Universities,0.076164,0.093207
195,Universitat Autònoma de Barcelona,Spain,=195,Europe,230.0,2187.0,3848.0,31986.0,Top Universities,0.068374,0.120303
196,Texas A&M University,United States,=195,North America,206.0,3446.0,4900.0,60294.0,Top Universities,0.057153,0.081268
197,Instituto Tecnológico y de Estudios Superiores...,Mexico,199,Latin America,821.0,1822.0,1412.0,13376.0,Top Universities,0.136214,0.105562
198,Maastricht University,Netherlands,200,Europe,502.0,1277.0,8234.0,16385.0,Top Universities,0.077937,0.502533
199,Universidad de Chile,Chile,201,Latin America,127.0,2256.0,2134.0,38848.0,Top Universities,0.058072,0.054932

In [20]:
#tu.set_index(keys=['Name'], inplace=True)

In [21]:
#th.set_index(keys = ['Name'], inplace=True)
#th

Is the indexes unique ?

In [22]:
print('Top university dataframe name index is unique : {b}'.format(b=tu.index.is_unique))
print('Times Higher Education dataframe name index is unique : {b}'.format(b=th.index.is_unique))

Top university dataframe name index is unique : True
Times Higher Education dataframe name index is unique : True

We merge the two dataframe with name index.

In [23]:
from difflib import SequenceMatcher

def similarity(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [24]:
tu_names = tu['Name'].tolist()
th_names = th['Name'].tolist()

for i in range(len(tu)):
    maxIndex = -1
    maxRatio = 0.0
    for j in range(len(th)):
        sim = similarity(tu_names[i], th_names[j])
        if sim > maxRatio and sim > 0.7:
            maxRatio = sim
            maxIndex = j
    if maxIndex != -1:
        th_names[maxIndex] = tu_names[i]
    
tu['Name'] = tu_names
th['Name'] = th_names

In [25]:
th['region'] = th.merge(tu, how='outer', on='Name')['region']

In [26]:
merged = tu.merge(th, how='outer')
merged = merged.groupby('Name').filter(lambda x: len(x) > 1)
merged = merged.set_index(['Name', 'country', 'region', 'Website']).sort_index(level=0)
merged

                                                                                                        rank  \
Name                                               country        region        Website
Aalto University                                   Finland        Europe        Times Higher Education   190
                                                                                Top Universities        =137
Aarhus University                                  Denmark        Europe        Times Higher Education  =109
                                                                                Top Universities         119
Boston University                                  United States  North America Times Higher Education   =70
                                                                                Top Universities          81
Brown University                                   United States  North America Times Higher Education   =50
                                                                                Top Universities          53
Cardiff University                                 United Kingdom Europe        Times Higher Education  =162
                                                                                Top Universities        =137
Carnegie Mellon University                         United States  North America Times Higher Education    24
                                                                                Top Universities         =47
Chalmers University of Technology                  Netherlands    Europe        Times Higher Education    63
                                                   Sweden         Europe        Top Universities         133
City University of Hong Kong                       Hong Kong      Asia          Times Higher Education  =119
                                                                                Top Universities          49
Columbia University                                United States  North America Times Higher Education    14
                                                                                Top Universities          18
Dartmouth College                                  United States  North America Times Higher Education    89
                                                                                Top Universities         169
Duke University                                    United States  North America Times Higher Education    17
                                                                                Top Universities         =21
Durham University                                  United Kingdom Europe        Times Higher Education    97
                                                                                Top Universities         =78
ETH Zurich - Swiss Federal Institute of Technology Switzerland    Europe        Times Higher Education   =10
                                                                                Top Universities          10
Ecole Polytechnique                                France         Europe        Times Higher Education   115
                                                                                Top Universities          59
Ecole Polytechnique Fédérale de Lausanne (EPFL)    Switzerland    Europe        Times Higher Education   =38
                                                                                Top Universities          12
...                                                                                                      ...
University of Waterloo                             Canada         North America Top Universities         152
                                                   Switzerland    North America Times Higher Education   =95
University of Wisconsin-Madison                    United States  North America Times Higher Education    43
                                                                                Top Universities          55
University of York                                 United Kingdom Europe        Times Higher Education  =137
                                                                                Top Universities        =135
University of Zurich                               Switzerland    Europe        Times Higher Education   136
                                                                                Top Universities         =73
Université catholique de Louvain (UCL)             Belgium        Europe        Times Higher Education   129
                                                                                Top Universities         153
Université de Montréal                             Canada         North America Times Higher Education   108
                                                                                Top Universities         130
Uppsala University                                 Sweden         Europe        Times Higher Education   =86
                                                                                Top Universities         112
Utrecht University                                 Netherlands    Europe        Times Higher Education    68
                                                                                Top Universities        =109
Vienna University of Technology                    Austria        Europe        Top Universities        =182
                                                   Netherlands    Europe        Times Higher Education  =141
Wageningen University                              Netherlands    Europe        Times Higher Education    64
                                                                                Top Universities         124
Washington University in St. Louis                 United States  North America Times Higher Education   =50
                                                                                Top Universities         100
Yale University                                    United States  North America Times Higher Education    12
                                                                                Top Universities          16
Yonsei University                                  Australia      Asia          Times Higher Education   =80
                                                   South Korea    Asia          Top Universities         106
Zhejiang University                                China          Asia          Times Higher Education  =177
                                                                                Top Universities          87
École Normale Supérieure de Lyon                   France         Europe        Times Higher Education  =182
                                                                                Top Universities         157

                                                                                                       International faculty members  \
Name                                               country        region        Website
Aalto University                                   Finland        Europe        Times Higher Education                       Unknown
                                                                                Top Universities                                 370
Aarhus University                                  Denmark        Europe        Times Higher Education                       Unknown
                                                                                Top Universities                                 602
Boston University                                  United States  North America Times Higher Education                       Unknown
                                                                                Top Universities                                 379
Brown University                                   United States  North America Times Higher Education                       Unknown
                                                                                Top Universities                                 379
Cardiff University                                 United Kingdom Europe        Times Higher Education                       Unknown
                                                                                Top Universities                                 705
Carnegie Mellon University                         United States  North America Times Higher Education                       Unknown
                                                                                Top Universities                                 425
Chalmers University of Technology                  Netherlands    Europe        Times Higher Education                       Unknown
                                                   Sweden         Europe        Top Universities                                 336
City University of Hong Kong                       Hong Kong      Asia          Times Higher Education                       Unknown
                                                                                Top Universities                                1027
Columbia University                                United States  North America Times Higher Education                       Unknown
                                                                                Top Universities                                 913
Dartmouth College                                  United States  North America Times Higher Education                       Unknown
                                                                                Top Universities                                  27
Duke University                                    United States  North America Times Higher Education                       Unknown
                                                                                Top Universities                                 226
Durham University                                  United Kingdom Europe        Times Higher Education                       Unknown
                                                                                Top Universities                                 586
ETH Zurich - Swiss Federal Institute of Technology Switzerland    Europe        Times Higher Education                       Unknown
                                                                                Top Universities                                1886
Ecole Polytechnique                                France         Europe        Times Higher Education                       Unknown
                                                                                Top Universities                                 259
Ecole Polytechnique Fédérale de Lausanne (EPFL)    Switzerland    Europe        Times Higher Education                       Unknown
                                                                                Top Universities                                1300
...                                                                                                                              ...
University of Waterloo                             Canada         North America Top Universities                                 473
                                                   Switzerland    North America Times Higher Education                       Unknown
University of Wisconsin-Madison                    United States  North America Times Higher Education                       Unknown
                                                                                Top Universities                                1151
University of York                                 United Kingdom Europe        Times Higher Education                       Unknown
                                                                                Top Universities                                 636
University of Zurich                               Switzerland    Europe        Times Higher Education                       Unknown
                                                                                Top Universities                                2617
Université catholique de Louvain (UCL)             Belgium        Europe        Times Higher Education                       Unknown
                                                                                Top Universities                                 406
Université de Montréal                             Canada         North America Times Higher Education                       Unknown
                                                                                Top Universities                                1037
Uppsala University                                 Sweden         Europe        Times Higher Education                       Unknown
                                                                                Top Universities                                 584
Utrecht University                                 Netherlands    Europe        Times Higher Education                       Unknown
                                                                                Top Universities                                 653
Vienna University of Technology                    Austria        Europe        Top Universities                                 172
                                                   Netherlands    Europe        Times Higher Education                       Unknown
Wageningen University                              Netherlands    Europe        Times Higher Education                       Unknown
                                                                                Top Universities                                 323
Washington University in St. Louis                 United States  North America Times Higher Education                       Unknown
                                                                                Top Universities                                 784
Yale University                                    United States  North America Times Higher Education                       Unknown
                                                                                Top Universities                                1708
Yonsei University                                  Australia      Asia          Times Higher Education                       Unknown
                                                   South Korea    Asia          Top Universities                                 290
Zhejiang University                                China          Asia          Times Higher Education                       Unknown
                                                                                Top Universities                                1913
École Normale Supérieure de Lyon                   France         Europe        Times Higher Education                       Unknown
                                                                                Top Universities                                  91

                                                                                                        Total faculty members  \
Name                                               country        region        Website
Aalto University                                   Finland        Europe        Times Higher Education                  630.0
                                                                                Top Universities                       1257.0
Aarhus University                                  Denmark        Europe        Times Higher Education                 1759.0
                                                                                Top Universities                       2316.0
Boston University                                  United States  North America Times Higher Education                 2887.0
                                                                                Top Universities                       3157.0
Brown University                                   United States  North America Times Higher Education                  831.0
                                                                                Top Universities                       1303.0
Cardiff University                                 United Kingdom Europe        Times Higher Education                 1791.0
                                                                                Top Universities                       2755.0
Carnegie Mellon University                         United States  North America Times Higher Education                  938.0
                                                                                Top Universities                       1342.0
Chalmers University of Technology                  Netherlands    Europe        Times Higher Education                  870.0
                                                   Sweden         Europe        Top Universities                       1077.0
City University of Hong Kong                       Hong Kong      Asia          Times Higher Education                  825.0
                                                                                Top Universities                       1349.0
Columbia University                                United States  North America Times Higher Education                 4358.0
                                                                                Top Universities                       6189.0
Dartmouth College                                  United States  North America Times Higher Education                  924.0
                                                                                Top Universities                        939.0
Duke University                                    United States  North America Times Higher Education                 3390.0
                                                                                Top Universities                       2938.0
Durham University                                  United Kingdom Europe        Times Higher Education                 1094.0
                                                                                Top Universities                       1539.0
ETH Zurich - Swiss Federal Institute of Technology Switzerland    Europe        Times Higher Education                 1317.0
                                                                                Top Universities                       2477.0
Ecole Polytechnique                                France         Europe        Times Higher Education                  548.0
                                                                                Top Universities                        649.0
Ecole Polytechnique Fédérale de Lausanne (EPFL)    Switzerland    Europe        Times Higher Education                  886.0
                                                                                Top Universities                       1695.0
...                                                                                                                       ...
University of Waterloo                             Canada         North America Top Universities                       1689.0
                                                   Switzerland    North America Times Higher Education                  719.0
University of Wisconsin-Madison                    United States  North America Times Higher Education                 3641.0
                                                                                Top Universities                       5722.0
University of York                                 United Kingdom Europe        Times Higher Education                  990.0

In [68]:
rk = merged['rank'].apply(lambda x: x.strip('=')).astype('int').groupby(by=['Name', 'country']).sum().sort_values().reset_index().drop('rank', axis=1)
rk.index += 1
rk.index.name = 'rank'
rk

                                                   Name         country
rank
1          Indian Institute of Technology Bombay (IITB)   United States
2                                   Stanford University   United States
3                                   Hokkaido University   United States
4           Massachusetts Institute of Technology (MIT)   United States
5                                  University of Oxford  United Kingdom
6                               University of Cambridge  United Kingdom
7                               Imperial College London  United Kingdom
8                                 University of Chicago   United States
9                                      Korea University   United States
10                                 Princeton University   United States
11    ETH Zurich - Swiss Federal Institute of Techno...     Switzerland
12                      UCL (University College London)  United Kingdom
13                                      Yale University   United States
14                           University of Pennsylvania   United States
15                             Johns Hopkins University   United States
16                                  Columbia University   United States
17               National University of Singapore (NUS)       Singapore
18                                      Duke University   United States
19                               University of Michigan   United States
20             University of California, Berkeley (UCB)   United States
21                              Northwestern University   United States
22         University of California, Los Angeles (UCLA)   United States
23                          The University of Edinburgh  United Kingdom
24      Ecole Polytechnique Fédérale de Lausanne (EPFL)     Switzerland
25                                University of Toronto          Canada
26                                  Tsinghua University           China
27                                King's College London  United Kingdom
28    London School of Economics and Political Scien...  United Kingdom
29    Nanyang Technological University, Singapore (NTU)       Singapore
30                    Chalmers University of Technology     Netherlands
...                                                 ...             ...
140                                 Zhejiang University           China
141                     Technical University of Denmark         Denmark
142                   KTH Royal Institute of Technology          Sweden
143                                  University of York  United Kingdom
144                          The University of Auckland     New Zealand
145                The Hong Kong Polytechnic University       Hong Kong
146              Université catholique de Louvain (UCL)         Belgium
147                      University of Colorado Boulder   United States
148                           University College Dublin         Ireland
149                                Lancaster University  United Kingdom
150                              University of Virginia   United States
151                            The University of Exeter  United Kingdom
152                             University of Göttingen         Germany
153                              University of Lausanne     Switzerland
154                                  Cardiff University  United Kingdom
155                               Maastricht University     Netherlands
156                                University of Vienna         Austria
157                               University of Florida   United States
158                                    Aalto University         Finland
159                                Stockholm University          Sweden
160                                Newcastle University  United Kingdom
161                             University of Rochester   United States
162                    École Normale Supérieure de Lyon          France
163                              University of Aberdeen  United Kingdom
164                             University of Liverpool  United Kingdom
165                                Texas A&M University   United States
166                                University of Twente     Netherlands
167                       National Tsing Hua University          Taiwan
168                             University of Cape Town    South Africa
169                    Scuola Normale Superiore di Pisa           Italy

[169 rows x 2 columns]

In [99]:
rk_cntr = rk.reset_index().drop('Name', axis=1).groupby('country').mean().sort_values('rank').reset_index().drop('rank', axis=1)
rk_cntr

               country
0            Singapore
1               Russia
2                Japan
3        United States
4            Australia
5            Hong Kong
6               Norway
7          Switzerland
8          South Korea
9               Canada
10               China
11      United Kingdom
12               India
13             Germany
14         Netherlands
15  Russian Federation
16         New Zealand
17             Belgium
18              Sweden
19             Denmark
20              France
21             Austria
22             Finland
23             Ireland
24              Taiwan
25        South Africa
26               Italy

In [162]:
cntr = tu.merge(th, how='outer')[['Name', 'country']].drop_duplicates('Name').groupby('country').count()
cntr.reset_index(inplace=True)
cntr.columns = ['country', 'occurences']
cntr = cntr.sort_values(by='occurences', ascending=False).reset_index().drop('index', axis=1)
cntr.index += 1
cntr

           country  occurences
1    United States          61
2   United Kingdom          33
3          Germany          23
4      Netherlands          13
5           France           9
6        Australia           9
7            Japan           9
8            China           7
9      Switzerland           7
10          Sweden           7
11          Canada           7
12     South Korea           7
13           Italy           5
14           Spain           5
15         Belgium           5
16       Hong Kong           5
17         Denmark           3
18           India           3
19          Brazil           2
20         Austria           2
21          Taiwan           2
22          Mexico           2
23     New Zealand           2
24          Norway           2
25         Finland           2
26         Ireland           2
27       Singapore           2
28           Chile           2
29          Israel           1
30    Saudi Arabia           1
31    South Africa           1
32          Russia           1
33        Malaysia           1
34      Luxembourg           1
35       Argentina           1

In [174]:
#country_correl = cntr.sort_values('occurences', ascending=False).reset_index().drop(['occurences', 'index'], axis=1)
#country_correl.columns = ['country_occurences']
#country_correl['country_mean_rank'] = rk_cntr['country']
country_correl = cntr.reset_index().drop('occurences', axis=1)
country_correl.columns = [['index_occurences', 'country']]
res = country_correl.merge(rk_cntr.reset_index(), how='inner', on='country')
res.columns = [['index_occurences', 'country', 'index_rank']]
res.set_index('country', inplace=True)
res.corr()

                  index_occurences  index_rank
index_occurences          1.000000    0.208775
index_rank                0.208775    1.000000